@import '../../../../../core/stylesheets/layout/layout';
@import '../../../../../core/stylesheets/elements/form';
@import '../../../../../core/stylesheets/mixins/mixins';
@import '../../../../../core/stylesheets/mixins/mixins-layout';
@import '../../../../../core/stylesheets/mixins/mixins-effects';
@import '../../../stylesheets/produkt';

@import '../../../../../core/stylesheets/tools/typographie';
@import '../../../../../core/stylesheets/tools/variables';

@import '../../../../../core/stylesheets/elements/controls';

.produkt-teaser{
    @include gap-component;
    background: $color-red-dark; 
    border-radius: $border-radius;
    &__grid{
      @include grid; 
      @include gap-element;
    }
     & h3{
      @include grid__span__all;
     }
    &__section{
      @include grid__span--half; 
      @include padding-component; 
      @include flexbox($direction: column, $justify: center, $wrap: nowrap, $align: flex-start);
    }
    &__img {
        width: 100%; 
        border-radius: $border-radius; 
        & img {
          @include responsive-img(true, true, $object-fit: cover);
          max-height: 300px;
        }
      }
}

//Media Queries
@media only screen and (max-width: $breakpoint-small) {
  .produkt-teaser {
      &__section {
        @include grid__span--all;
      }
  }
}

