<!-- Images used to open the lightbox -->
<div class="row">
  <!--<div class="column" (click)="openModal(); currentSlide(1)" class="hover-shadow">
      test
  </div>-->

  <!-- The Modal/Lightbox -->
  <div id="myModal" class="modal" [ngClass]="{ 'modal--open': isOpen, 'modal--close': !isOpen}">
    <button class="interaction-icon modal__button-close" (click)="closeModal()">
      <i class="bi  bi-x-lg bi-2x"></i>
    </button>
    <div class="modal__container">
      <app-hero-element-carousel *ngIf="slides" [slides]="slides"></app-hero-element-carousel>
    </div>
  </div>