@import '../../core/stylesheets/tools/typographie';
@import '../../core/stylesheets/elements/controls';
@import '../../core/stylesheets/elements/controls';
@import '../../core/stylesheets/layout/layout';
@import '../../core/stylesheets/tools/typographie';
@import '../../core/stylesheets/tools/variables';

.modal {
  display: none;
  position: fixed;
  z-index: 2001;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; 
  background-color: $color-grey--dark-opacity;

  &__container {
    height: 90%;
  }

  &__content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
    overflow: hidden; /* Hide the scrollbar */
  }

  &__button-close {
    position: absolute;
    top: 10%;
    right: 25px;
  }

  &--open {
    display: block;
  }

  &--close {
    display: none;
  }

}