<div class="hauptmenu">
    <nav class="hauptmenu__nav--small hide-for-medium hide-for-large"
        [ngClass]="{'hauptmenu__nav--small--open': hauptmenuButtonOpen}">
        <ul class="page">
            <li *ngFor="let nav of navWein; index as i">
                <button class="nav-button font-interactive-element">
                    <span class="font-interactive-element">{{nav}}</span>
                </button>
            </li>
        </ul>
    </nav>
    <div class="page">

        <nav class="hauptmenu__nav__container">
            <article [ngClass]="{'cart__container': cartVisibility, 'cart__container--hidden': !cartVisibility}">
                <header class="cart__header">
                    <p class="text-regular--red-dark">Ihr Warenkorb, <span class="text-regular">{{cartAnzahl}}
                            Artikel</span></p>
                    <button class="interaction-icon" (click)="togglecart()">
                        <i class="bi  bi-x-lg bi-2x"></i>
                    </button>
                </header>
                <main class="cart__main">
                    <section *ngIf="cartItems.length == 0" class="cart__section--no-items">
                        <h4>Es befinden sich noch keine Weine in ihrem Warenkorb. </h4>
                        <p class="text-regular">Klicken Sie
                            auf den Button "In den Warenkorb" um Weine in ihren Warenkorb zu legen.
                        </p>
                    </section>
                    <section *ngIf="cartItems.length > 0" class="cart__section">
                        <div *ngFor="let item of cartItems; let i = index" class="cart__section__container--column">
                            <div class="cart__section__container--row">
                                <figure class="cart__section__img-container">
                                    <img src="assets/grauburgunder.png" class="cart__section__img">
                                </figure>
                                <div class="cart__section__information">
                                    <p class="text-regular--red-dark">{{ item.wein.name }}</p>
                                    <p class="text-regular">{{ itemPriceSum(item)}} €</p>
                                    <p class="text-fine">zzgl. <span class="font-link--small">Versand</span></p>
                                </div>
                                <div class="cart__section__information">
                                    <form *ngIf="counterForm" [formGroup]="counterForm">
                                        <p class="text-regular">Anzahl</p>
                                        <input class="selector__form__input" type="number" formControlName="count"
                                            [formControlName]="'count' + (item.wein._id)"
                                            [ngClass]="{'selector__form__input--invalid': counterForm.get('count' + (item.wein._id))?.invalid && counterForm.get('count' + (item.wein._id))?.touched}"
                                            (input)="onInputChanged($event, i)" />
                                    </form>
                                </div>
                            </div>

                            <p *ngIf="counterForm?.get('count' + (item.wein._id))?.invalid && counterForm?.get('count' + (item.wein._id))?.touched"
                                class="text-regular--red-signal">
                                Zahl zwischen 1 und 100 eingeben
                            </p>
                            <button class="button button__tertiary" (click)="deleteItemFromCart(item)">aus dem Warenkorb
                                entfernen.</button>
                        </div>
                    </section>
                </main>
                <footer class="cart__footer">
                    <div class="cart__footer__container">
                        <p class="text-regular">Gesamtsumme <span class="text-fine">(inkl. MwSt.) </span>:</p>
                        <p class="text-regular--red-dark">{{cartTotal}} €</p>
                    </div>
                    <button class="button button__secondary">
                        <span style="font-size: 14px;"><i class="bi-cart3 bi"></i></span>
                        Warenkorb einsehen</button>
                    <button class="button button__buy">Zur Kasse gehen</button>

                </footer>
            </article>
            <button *ngFor="let nav of navWein; index as i"
                class="nav-button font-interactive-element hauptmenu__nav__button--hide">
                <span class="font-interactive-element">{{nav}}</span>
            </button>
            <button class="hamburger-button hamburger-button--hide-for-medium"
                [class.hamburger-button--open]="hauptmenuButtonOpen" (click)="togglehauptMenuButton()">
                <div></div>
            </button>

            <div class="hamburger hamburger--boring" aria-expanded="false" role="navigation">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </div>

            <button class="hauptmenu__open-cart-button" (click)="togglecart()">
                <span><i class="bi-cart3 bi-4x hauptmenu__open-cart-button__icon"></i></span>
                <span class="hauptmenu__open-cart-button__text text-regular">Gesamt:
                    <br>
                    {{cartTotal}} €</span>
            </button>
        </nav>

    </div>
</div>