<nav class="website">
    <ul class="page">
        <li class="website__logo">
            <a class="website-font">
                <img src="../../../assets/logo.png" alt="Logo">
            </a>
        </li>
        <li >
            <a class="website-font li--hide-for-small">
                HOME
            </a>
        </li>
        <li>
            <a class="website-font li--hide-for-small">
                AKTUELLES
            </a>
        </li>
        <li>
            <a class="website-font li--hide-for-small">
                WEINGUT
            </a>
        </li>
        <li>
            <a class="website-font website-font--shop li--hide-for-small" [routerLink]="['']">
                SHOP
            </a>
        </li>
        <li>
            <a class="website-font li--hide-for-small">
                PENSION
            </a>
        </li>
        <li>
            <a class="website-font li--hide-for-small">
                KONTAKT
            </a>
        </li>
        <li>
            <button class="hamburger-button hamburger-button--hide-for-medium">
            <div></div>
        </button>
        </li>
    </ul>
</nav>
<div class="hauptmenu" [ngClass]="{'hauptmenu--hidden': !isVisible}">


    <nav class="hauptmenu--green hauptmenu__kategorie__nav--small"
        [ngClass]="{'hauptmenu__kategorie__nav--small--open': hauptmenuButtonOpen}">
        <ul class="page">
            <li *ngFor="let nav of navWein; index as i">
                <button class="nav-button " [ngClass]="{'nav-button--active': nav.value == kategorie}"
                    (click)="handleNav(nav.value, true,nav.key)">
                    <span>{{ nav.value }}</span>
                </button>
            </li>
        </ul>
    </nav>
    <div class="hauptmenu--green">
        <nav class="page hauptmenu__kategorie hauptmenu__kategorie__nav__container">
            <article [ngClass]="{'cart__container': cartVisibility, 'cart__container--hidden': !cartVisibility}">
                <header class="cart__header">
                    <p class="text-regular--red-dark">Ihr Warenkorb, <span
                            class="text-regular">{{cartTotalProduktAnzahl}}
                            Artikel</span></p>
                    <button class="interaction-icon" (click)="togglecart()">
                        <i class="bi  bi-x-lg bi-2x"></i>
                    </button>
                </header>
                <main class="cart__main">
                    <section *ngIf="cartItems.length == 0" class="cart__section--no-items">
                        <h4 class="h4">Es befinden sich noch keine Weine in ihrem Warenkorb. </h4>
                        <p class="text-regular">Klicken Sie
                            auf den Button "In den Warenkorb" um Weine in ihren Warenkorb zu legen.
                        </p>
                    </section>
                    <section *ngIf="cartItems.length > 0" class="cart__section">
                        <div *ngFor="let item of cartItems; let i = index" class="cart__section__container--column">
                            <div class="cart__section__container--row">
                                <figure class="cart__section__img-container">
                                    <img src="assets/grauburgunder.png" class="cart__section__img">
                                </figure>
                                <div class="cart__section__information">
                                    <p class="text-regular--red-dark">{{ item.wein.name }}</p>
                                    <p class="text-regular">{{ itemPriceSum(item)}} €</p>
                                    <p class="text-fine">zzgl. <span class="text-link--small">Versand</span></p>
                                </div>
                                <div class="cart__section__information">
                                    <form *ngIf="counterForm" [formGroup]="counterForm">
                                        <p class="text-regular">Anzahl</p>
                                        <input class="selector__form__input" type="number" formControlName="count"
                                            [formControlName]="'count' + (item.wein._id)"
                                            [ngClass]="{'selector__form__input--invalid': counterForm.get('count' + (item.wein._id))?.invalid && counterForm.get('count' + (item.wein._id))?.touched}"
                                            (input)="onInputChanged($event, i)" />
                                    </form>
                                </div>
                            </div>

                            <p *ngIf="counterForm?.get('count' + (item.wein._id))?.invalid && counterForm?.get('count' + (item.wein._id))?.touched"
                                class="text-regular--red-signal">
                                Zahl zwischen 1 und 100 eingeben
                            </p>
                            <button class="button button__secondary" (click)="deleteItemFromCart(item)">aus dem
                                Warenkorb
                                entfernen</button>
                        </div>
                    </section>
                </main>
                <footer class="cart__footer">
                    <div class="cart__footer__container">
                        <p class="text-regular">Gesamtsumme <span class="text-fine">(inkl. MwSt. & Versand) </span>:</p>
                        <p class="text-regular--red-dark">{{cartTotalPriceSum()}} €</p>
                    </div>
                    <button class="button button__main" (click)="handleNavWarenkorb(true)">
                        <span style="font-size: 14px;"><i class="bi-cart3 bi"></i></span>
                        Warenkorb einsehen</button>
                    <button class="button button__buy"
                        [attr.title]="cartItems.length == 0? 'Um zur Kasse zu gehen, fügen Sie Weine zum Warenkorb hinzu' : null"
                        [disabled]="cartItems.length == 0" (click)="handleNavWarenkorb(false)">Zur Kasse
                        gehen</button>
                </footer>
            </article>
            <button *ngFor="let nav of navWein; index as i" class="nav-button hauptmenu__kategorie__nav__button--hide"
                [routerLink]="[appRoutes.WEINSHOP, nav.key]" [ngClass]="{'nav-button--active': nav.key == kategorie}"
                (click)="handleNav(nav.value, false, nav.key)">
                <span>{{nav.value}}</span>
            </button>
            <button class="hamburger-button hamburger-button--hide-for-medium"
                [class.hamburger-button--open]="hauptmenuButtonOpen" (click)="togglehauptMenuButton()">
                <div></div>
            </button>
            <button class="hauptmenu__open-cart-button" (click)="togglecart()">
                <div class="hauptmenu__open-cart-button__icon__container">
                    <p class="hauptmenu__open-cart-button__icon__counter">{{cartTotalProduktAnzahl}}</p>
                    <i class="bi-cart3 bi-4x hauptmenu__open-cart-button__icon"></i>
                </div>
                <span class="hauptmenu__open-cart-button__text text-regular">Gesamt:
                    <br>
                    {{cartTotalPriceSum()}} €</span>
            </button>
        </nav>

    </div>
</div>