@import '../../../shared/stylesheets/layout/layout';
@import '../../../shared/stylesheets/elements/controls';
@import "../../../shared/stylesheets/mixins/mixins";
@import "../../../shared/stylesheets/mixins/mixins-layout";
@import "../../../shared/stylesheets/mixins/mixins-effects";

@import "../../../shared/stylesheets/tools/variables";
@import "../../../shared/stylesheets/tools/typographie";

@import "../../../shared/stylesheets/elements/controls";
@import "../../../shared/stylesheets/components/quantity_selector";

@import "./mixins";

.card-list--produkt-view {
    @include card;
 
    &>header {
       order: 1;
       width: 22%;
    }
 
    &>figure {
       display: none;
    }
 
    &>section {
       order: 2;
       @include flexbox($justify: space-between, $wrap: wrap);
       @include gap-element;
       width: 20%;
 
       @include ul;
    }
 
    &>footer {
       order: 3;
       width: auto;
       @include padding-element($left: false, $right: false, $bottom: false);
       @include footer-text;
       width: 25%;
    }
    &--full-width{
       width: 100%!important;
    }
 }

 @media only screen and (min-width: 0) and (max-width:$breakpoint-small) {
    .card-list--produkt-view {
       &>header {
          width: 60%;
       }
 
       &>section {
          width: 30%;
       }
 
       &>footer {
          width: 100%;
       }
    }
 
 }