@import '../mixins/mixins_effects';

/* Elements */
@import '../elements/controls';

.cards {
   @include flexbox($direction:row, $justify: center, $wrap: wrap, $gab: $margin-elements);
}

.card__text__container {
   width: 45%;
   @include flexbox($justify: center, $wrap: wrap, $gab: $margin-elements);
}

.card__imgcontainer {
   overflow: hidden;
   width: 45%;
}

.button{
   width: 100%;
   @include effect-gb-slide();

}

.card {
   @include border($color: $color-green-light);
   padding: $padding-elements;
   @include flexbox($direction:row, $justify: center, $wrap: wrap, $gab: $margin-elements);
   //@include effect-drop-shadow-hover();
   max-width: 19rem;
   max-height: 25rem;
   @include effect-drop-shadow-hover();
   border-radius: $border-radius;
}

.card__info__text{
   color: $color-red-dark;
   width: 100%;
}

.card__imgcontainer__img {
   width: 100%;
   height: auto;
   display: block;
   object-fit: contain;
}

.card__line{
   width: 100%; 
   border-bottom: $border-width;
   background: $color-gradient-green-light;
}