<main class="page page__grid">
    <section class="page__grid page__grid__background">
        <div class="page__grid__produkt produkt__grid">
<div class="produkt__grid__carousel">
                <app-hero-element-carousel [showTitel]="false" [showText]="false" [slides]="createSlidesForCarousel()">
                </app-hero-element-carousel>
            </div>
            <div class="produkt__grid__figure produkt__img-container produkt__img-container--background">
                <figure class="produkt__img-container">
                    <img class="produkt__img-container__img" [src]="produktBild" [alt]="mockWein?.weinBildAlt">
                </figure>
                <div class="produkt__side-imgs-container">
                    <button (click)="switchPicture(mockWein?.weinBildL)">
                        <figure class="produkt__side-img-container">
                            <img class="produkt__side-img-container__img" [src]="mockWein?.weinBildS" [alt]="mockWein?.weinBildAlt">
                            <div class="produkt__side-img__overlay"><i class="bi bi-zoom-in"></i> </div>
                        </figure>
                    </button>
                    <button (click)="switchPicture(mockWein?.weinEttiketBildL)">
                        <figure class="produkt__side-img-container">
                            <img class="produkt__side-img-container__img" [src]="mockWein?.weinEttiketBildS"
                                [alt]="mockWein?.weinEttiketBildL">
                            <div class="produkt__side-img__overlay"><i class="bi bi-zoom-in"></i> </div>
                        </figure>
                    </button>
                </div>
            </div>
            <app-card *ngIf="mockWein" (showBewertungenChange)="handleShowBewertungenChange($event)" [wein]="mockWein" [cardDetail]="true"
                class="produkt__grid__produktinformation"></app-card>
        </div>
    </section>
    <article class="servierempfehlung page__grid__servierempfehlung">
        <section class=" servierempfehlung__section__container">
            <p class="text-regular col">Servierempfehlung</p>

            <div class="servierempfehlung__section__text">
                <p class="text-fine">
                    {{ mockWein?.servierempfehlung}}
                </p>
            </div>
        </section>
    </article>
    <nav class="nav page__grid__nav">
        <button class="nav-button--small h2--green" (click)="toggleSteckbrief()">
           <span [class.nav-button--active]="showSteckbrief">Steckbrief </span> 
        </button>
        <button class="nav-button--small h2--green"  (click)="toggleBewertung()">
            <span [class.nav-button--active]="showBewertungen">Bewertungen</span>
        </button>
    </nav>

    <section *ngIf="showSteckbrief" class="steckbrief__container page__grid__steckbrief">
        <div class="steckbrief steckbrief__grid">
            <div class="steckbrief__info">
                <table class="steckbrief__info__table">
                    <tbody>
                        <tr>
                            <td class="text-regular">Rebsorte</td>
                            <td class="text-regular">{{ mockWein?.rebsorte }}</td>
                        </tr>
                        <tr>
                            <td class="text-regular">Nettofüllmenge</td>
                            <td class="text-regular">{{ mockWein?.fuellmenge }} L</td>
                        </tr>
                        <tr>
                            <td class="text-regular">Alkoholgehalt</td>
                            <td class="text-regular">{{ mockWein?.alkoholgehalt }} % vol</td>
                        </tr>
                        <tr>
                            <td class="text-regular">Restzucker</td>
                            <td class="text-regular">{{ mockWein?.restZucker }} g/L</td>
                        </tr>
                        <tr>
                            <td class="text-regular">Gesamtsäure</td>
                            <td class="text-regular">{{ mockWein?.gesamtSaeure }} g/L</td>
                        </tr>
                        <tr>
                            <td class="text-regular">Geschmack</td>
                            <td class="text-regular">{{ mockWein?.geschmack }}</td>
                        </tr>
                        <tr>
                            <td class="text-regular">Verschluss</td>
                            <td class="text-regular">{{ mockWein?.verschlussArt }}</td>
                        </tr>
                        <tr>
                            <td class="text-regular">Trinktemperatur</td>
                            <td class="text-regular">{{ mockWein?.trinkTemperatur }} °C</td>
                        </tr>
                        <tr>
                            <td class="text-regular">Lagerfähigkeit</td>
                            <td class="text-regular">{{ mockWein?.lagerfaehigkeit }}</td>
                        </tr>
                        <tr>
                            <td class="text-regular">Allergiehinweise</td>
                            <td class="text-regular">{{ mockWein?.allergieHinweis }}</td>
                        </tr>
                        <tr>
                            <td class="text-regular">Erzeuger</td>
                            <td class="text-regular">
                                <p>Weingut Buhrmann-Becher</p>
                                <p>Talweg 7, 67822 Kalkofen</p>
                                <p>Deutschland</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <article class="steckbrief__rebsorte">
                <figure class="steckbrief__rebsorte__img">
                    <img src="../../../assets/rebsorte.png" alt="Bild von Trauben">
                </figure>
                <section class="steckbrief__rebsorte__info">
                    <h2 class="h2--light"> {{mockWein?.name}}</h2>
                    <p class="text-regular--light">
                        {{mockWein?.ausfuehrlicheBeschreibung}}
                    </p>
                </section>
            </article>
        </div>
    </section>
    <section *ngIf="wineId && showBewertungen" class="page__grid__bewertungen bewertung__container">
        <app-bewertungen [id]="wineId"></app-bewertungen>
    </section>
</main>