@import '../../../core/stylesheets/mixins/mixins';
@import '../../../core/stylesheets/mixins/mixins-layout';
@import '../../../core/stylesheets/mixins/mixins-effects';

@import '../../../core/stylesheets/tools/typographie';
@import '../../../core/stylesheets/tools/variables';

@import '../../../core/stylesheets/elements/controls';

.page__grid__warenkorb {
    @include grid;
    @include gap-page;
    grid-template-areas: "nav nav nav nav nav nav nav nav sum sum sum sum"
                         "produkt produkt produkt produkt produkt produkt produkt produkt sum sum sum sum";
}

.sum__area {
    grid-area: sum;
    align-self: start; 
}

.nav__area {
    grid-area: nav;
}
.produkt__area{
    grid-area: produkt;

}

@media only screen and (min-width: 0) and (max-width: $breakpoint-medium--minus) {
    .page__grid__warenkorb {
        grid-template-areas:
            "nav nav nav nav"
            "sum sum sum sum"
            "produkt produkt produkt produkt";
    }
}

@media only screen and (min-width:$breakpoint-medium) and (max-width: $breakpoint-large) {
    .page__grid__warenkorb {
        grid-template-areas:
            "nav nav nav nav nav nav nav nav"
            "sum sum sum sum sum sum sum sum"
            "produkt produkt produkt produkt produkt produkt produkt produkt";
    }
}