<main class="page page__grid">
    <header class="page__grid__titel page-titel">
        <figure>
            <img src="../../../assets/titel-icons/warenkorb.png" alt="Weinweinmenü">
        </figure>
        <h1 class="h1--light">
            {{titel}}
        </h1>
    </header>
    <nav class="page__grid__anzeige anzeige__container">

        <ul class="anzeige">
            <hr class="anzeige__line" noshade size="1">
            <li>
                <button class="text-regular anzeige__item" [disabled]="!progressBar.warenkorb" [ngClass]="{'anzeige__item--aktive': progressBar.active === 'warenkorb'}">
                    <div class="anzeige__item__punkt" [routerLink]="['/', appRoutes.WARENKORB]"></div>
                </button>
            </li>
            <li>
                <button class="text-regular anzeige__item" [disabled]="!progressBar.daten" [ngClass]="{'anzeige__item--aktive': progressBar.active === 'daten'}">
                    <div class="anzeige__item__punkt"></div>
                </button>
            </li>
            <li>
                <button class="text-regular anzeige__item" [disabled]="!progressBar.danke" [ngClass]="{'anzeige__item--aktive': progressBar.active === 'danke'}">
                    <div class="anzeige__item__punkt"></div>
                </button>
            </li>
        </ul>
        <ul class="anzeige">
            <li>
                <button class="text-regular anzeige__item" [disabled]="!progressBar.warenkorb" [ngClass]="{'anzeige__item--aktive': progressBar.active === 'warenkorb'}">
                    Warenkorb
                </button>
            </li>
            <li>
                <button class="text-regular anzeige__item" [disabled]="!progressBar.daten" [ngClass]="{'anzeige__item--aktive': progressBar.active === 'daten'}">
                    Kundendaten
                </button>
            </li>
            <li>
                <button class="text-regular anzeige__item" [disabled]="!progressBar.danke" [ngClass]="{'anzeige__item--aktive': progressBar.active === 'danke'}">
                    Danke!
                </button>
            </li>
        </ul>
    </nav>
    <section class="page__grid__warenkorb produkt__container">
        <h2 class="h2__container-titel">Ihre Bestellungen</h2>
        <ng-container *ngTemplateOutlet="produkt"></ng-container>
        <ng-container *ngTemplateOutlet="produktSmall"></ng-container>
        <div *ngIf="cartItems.length == 0" class="produkt--empty">
            <h4 class="h4">Noch keine Weine im Warenkorb</h4>
            <p class="text-regular">Es befinden sich noch keine Weine in ihrem Warenkorb.</p>
            <button class="button button__secondary"  [routerLink]="['']">Zurück zur Katalogübersicht</button>
        </div>
        <button *ngIf="!progressBar.daten && !progressBar.danke && cartItems.length > 0" 
        class="produkt__zur-kasse-gehen button button__buy" 
        [routerLink]="['/', appRoutes.WARENKORB, appRoutes.WARENKORB__KONTAKTFORMULAR]"
        [attr.title]="cartItems.length == 0? 'Um zur Kasse zu gehen, fügen Sie Weine zum Warenkorb hinzu' : null" >
        Zur Kasse gehen</button>
            <router-outlet></router-outlet>
    </section>
    <section class="page__grid__sum sum__container">
        <section class="sum">
            <table class=" sum__table">
                <h4 class="h4--light">Zusammenfassung</h4>
                <tbody>
                    <tr>
                        <td class="text-regular--light">Warenwert:</td>
                        <td class="text-regular--light ">{{cartTotal.toFixed(2)}} €</td>
                    </tr>
                    <tr>
                        <td class="text-regular--light">Versandkosten:</td>
                        <td class="text-regular--light">{{versandTotal.toFixed(2)}} €</td>
                    </tr>
                    <tr class="sum--margin-top">
                        <td class="h4--light">Gesamtsumme:</td>
                        <td class="h4--light">{{versandAndCartTotal.toFixed(2)}} €</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <button class="button button__secondary"  [routerLink]="['']">Zurück zur Katalogübersicht</button>
        <button *ngIf="!progressBar.daten && !progressBar.danke" class="button button__buy" [attr.title]="cartItems.length == 0? 'Um zur Kasse zu gehen, fügen Sie Weine zum Warenkorb hinzu' : null" [disabled]="cartItems.length == 0" [routerLink]="['/', appRoutes.WARENKORB, appRoutes.WARENKORB__KONTAKTFORMULAR]">Zur Kasse gehen</button>
        <p-accordion [multiple]="true">
            <p-accordionTab class="p-accordion--red-dark" header="Versandinformationen">
                <p class="text-regular">
                    Der Versand erfolgt über UPS oder DHL in 2er, 3er, 6er und 12er Kartons.
                </p>
                <p class="text-regular">
                    1 - 12 Flaschen: 7,50 € </p>
                <p class="text-regular">
                    Ab 13 - 24 Flaschen :15,00 € </p>
                <p class="text-regular">
                    Ab 25 Flaschen: 0,50 € pro Flasche </p>
                <p class="text-regular">
                    Ab 350 € Warenwert liefern wir deutschlandweit frei Haus </p>
            </p-accordionTab>
            <p-accordionTab class="p-accordion--red-dark" header="Wiederrufsrecht">
                <p class="text-regular">
                    Sie haben das Recht, binnen vierzehn Tagen ohne Angabe von Gründen diesen Vertrag zu widerrufen. Die Frist beginnt ab dem Tag an dem Sie oder ein von Ihnen benannter Dritter, der nicht der Beförderer ist, die letzte Ware in Besitz genommen haben bzw. hat.   
                    <a class="text-link" href="https://www.buhrmannbecher.de/datenschutzerklaerung/">Weitere Informationen</a></p>
            </p-accordionTab>
        </p-accordion>
    </section>
</main>
<ng-template #produkt>
    <table *ngIf="cartItems.length !== 0" class="produkt">
        <thead class="produkt__head">
            <tr>
                <th class="h3--light"></th>
                <th class="h3--light">Produkt</th>
                <th class="h3--light">Stückpreis</th>
                <th class="h3--light">Anzahl</th>
                <th class="h3--light">Summe</th>
                <th  *ngIf="!progressBar.daten && !progressBar.danke" class="h3--light"></th>
            </tr>
        </thead>
        <tbody class="produkt__body">
            <tr *ngFor="let item of cartItems; let i = index">
                <td>
                    <figure class="produkt__img-container"><img class="produkt__img"
                            src="../../../assets/black_noir_weisswein.png"></figure>
                </td>
                <td>
                    <p class="text-regular--red-dark">{{dateConverter(item.wein.herstellungsDatum)}}</p>
                    <h3 class="h3">{{item.wein.name}}</h3>
                </td>
                <td>
                    <p class="text-regular no-wrap-text">
                        {{item.wein.preis}} €
                    </p>
                    <p class="text-regular">
                        {{item.wein.preisProLiter}} € | L
                    </p>
                </td>
                <td>
                    <form *ngIf="counterForm" [formGroup]="counterForm">
                        <input class="selector__form__input" type="number" formControlName="count"
                            [formControlName]="'count' + (item.wein._id)"
                            [ngClass]="{'selector__form__input--invalid': counterForm.get('count' + (item.wein._id))?.invalid && counterForm.get('count' + (item.wein._id))?.touched}"
                           [readonly] = "progressBar.daten || progressBar.danke"
                            (input)="onInputChanged($event, i)" />
                    </form>
                    <p *ngIf="counterForm?.get('count' + (item.wein._id))?.invalid && counterForm?.get('count' + (item.wein._id))?.touched"
                        class="text-regular--red-signal">
                        Zahl zwischen 1 und 100 eingeben
                    </p>
                </td>
                <td>
                    <p class="text-regular no-wrap-text">{{(item.wein.preis * item.produktAnzahl).toFixed(2)}} €</p>
                </td>
                <td  *ngIf="!progressBar.daten && !progressBar.danke && cartItems.length > 0" ><button button--full-width class="button button__secondary button--full-width"
                        (click)="deleteItemFromCart(item)">Entfernen</button></td>
            </tr>
        </tbody>
    </table>
</ng-template>

<ng-template #produktSmall>
    <p-accordion *ngIf="cartItems.length > 0" class="produkt--small" [multiple]="true" [activeIndex]="[0,1]">
        <p-accordionTab class="p-accordion--red-dark" header="Bestellungen">
            <article>
                <section class="cart__section">
                    <div *ngFor="let item of cartItems; let i = index" class="cart__section__container--column">
                        <div class="cart__section__container--row">
                            <figure class="cart__section__img-container">
                                <img src="assets/grauburgunder.png" class="cart__section__img">
                            </figure>
                            <div class="cart__section__information">
                                <p class="text-regular--red-dark">{{ item.wein.name }}</p>
                                <p class="text-regular">{{(item.wein.preis * item.produktAnzahl).toFixed(2)}} €</p>
                                <p class="text-fine">zzgl. <span class="text-link--small">Versand</span></p>
                            </div>
                            <div class="cart__section__information">
                                <form *ngIf="counterForm" [formGroup]="counterForm">
                                    <p class="text-regular">Anzahl</p>
                                    <input class="selector__form__input" type="number" formControlName="count"
                                        [formControlName]="'count' + (item.wein._id)"
                                        [ngClass]="{'selector__form__input--invalid': counterForm.get('count' + (item.wein._id))?.invalid && counterForm.get('count' + (item.wein._id))?.touched}"
                                        (input)="onInputChanged($event, i)" />
                                </form>
                            </div>
                        </div>

                        <p *ngIf="counterForm?.get('count' + (item.wein._id))?.invalid && counterForm?.get('count' + (item.wein._id))?.touched"
                            class="text-regular--red-signal">
                            Zahl zwischen 1 und 100 eingeben
                        </p>
                        <button class="button button__secondary" (click)="deleteItemFromCart(item)">aus dem Warenkorb
                            entfernen.</button>
                    </div>
                </section>
            </article>
        </p-accordionTab>
    </p-accordion>
</ng-template>