@import '../../../core/stylesheets/layout/layout';
@import '../../../core/stylesheets/elements/controls';
@import '../../../core/stylesheets/mixins/mixins';
@import '../../../core/stylesheets/mixins/mixins-layout';
@import '../../../core/stylesheets/mixins/mixins-effects';

@import '../../../core/stylesheets/tools/variables';
@import '../../../core/stylesheets/tools/typographie';

@import '../../../core/stylesheets/elements/controls';
@import '../../../core/stylesheets/components/quantity_selector';

.bewertungen {
    @include flexbox($direction: column, $justify: center, $align: center, $wrap: wrap);
    @include gap-component;

    &__titel{
        width: 100%;
        @include flexbox($direction: column, $justify: center, $align: center, $wrap: wrap);
        @include padding-element($left: false, $right: false); 
        @include gap-element;
        @include border($border-property: border-top, $color: $color-green-light);
        @include border($border-property: border-bottom, $color: $color-green-light);
    }

    &__container {
        @include flexbox($direction: row, $justify: center, $align: center, $wrap: nowrap);
        @include gap-component;
    }

    &__quote {
        &__author {
            text-align: center;
        }

        &__text {
            text-align: center;

        }
    }

    &__starreview {
        width: 100%;
        @include flexbox($direction: row, $justify: center, $wrap: wrap);
        @include gap-element;

        &__stars {
            @include flexbox($direction: row, $justify: flex-start, $wrap: nowrap);
            @include gap-element;
        }
    }


    &__arrow--left {
        color: $color-green-dark;

        &:hover {
            color: $color-red-dark;
        }
    }

    &__arrow--right {
        color: $color-green-dark;

        &:hover {
            color: $color-red-dark;
        }
    }

    &--small {
        @include flexbox($direction: column, $justify: center, $align: center, $wrap: wrap);
        @include gap-element;
        @include hide-for-small;
        @include hide-for-medium;
    }

    &--hide-for-small {
        @include hide-for-small;
        @include hide-for-medium;
    }

    &--hide-for-medium-large {
        @include hide-for-large;
    }

    &__sourounding-container {
        @include flexbox($direction: row, $justify: center, $align: center, $wrap: wrap);
        @include gap-component;
        border-radius: $border-radius;
        @include border($color: $color-green-light);
        @include padding-container;
    }
}