<p>testofresponsive works!</p>
<div class="container">
    <div class="row">
        <div class="col-12">
            <p>die gesamte reihe </p>
            <button class="button button__tertiary  font-button--white button--full-width">test</button>
        </div>
        <div class="col-6">
            
            <p>50% Prozent der reihe</p>

            <form  class="form">
                <input class="form__input form__input--full-width" type="number"  />
            </form>

        </div>


    <div>
        <p> test the size it wants to be</p>
                    <button class="button button__interaction font-button--white button--full-width">test</button>

    </div>

</div>