@import '../mixins/mixins';
@import '../mixins/mixins-effects';
@import '../tools/variables';
//TODO Hover and Focus



.button {
  border-radius: $border-radius;
  padding: $padding-btn-x $padding-btn-y;
  min-width: $width-min-button-desktop;
  min-height: $height-min-btn;
  white-space: nowrap;
  & .bi {
    @include margin-atom($top: false, $right: true, $bottom: false, $left: false);
  }

  &__main {
    @include fonts($font-special, $font-size-regular, $font-weight-regular, $color : $color-light);
    @include border($color: $color-green-dark);
    @include button-effect-slide();

  }

  &__secondary {
    @include fonts($font-special, $font-size-regular, $font-weight-regular, $color : $color-green-dark);
    @include border($color: $color-green-dark);
    @include button-effect-slide($background: $color-light, $color-before: $color-green-light, $color-hover: $color-green-dark);
  }

  &__tertiary {
    @include fonts($font-special, $font-size-regular, $font-weight-regular, $color : $color-green-dark);
    @include border($color: $color-green-light);
    @include button-effect-slide($background: transparent, $color-before: $color-grey-light, $color-hover: $color-green-dark);

    &--font-light {
      @include fonts($font-special, $font-size-regular, $font-weight-regular, $color : $color-light);
    }
  }

  &__ghost {
    @include fonts($font-special, $font-size-regular, $font-weight-regular, $color : $color-green-dark);
    @include border($color: $color-green-light);
    @include button-effect-slide($background: $color-light, $color-before: $color-grey-light, $color-hover: $color-green-dark);

  }

  &__buy {
    @include fonts($font-special, $font-size-regular, $font-weight-regular, $color : $color-light);
    @include border($color: $color-red-dark);
    @include button-effect-slide($background: $gradient-red, $color-before: $color-red-signal);
  }

  &__cancel {
    @include fonts($font-special, $font-size-regular, $font-weight-regular, $color : $color-red-dark);

    &:hover {
      color: $color-red-signal;
    }

    &:active {
      color: $color-red-signal;
    }
  }

  &--full-width {
    width: 100%;
  }
}

.nav-button {
  flex-grow: 1;
  border-bottom: 1px solid $color-green-light;
  @include flexbox($justify: center, $wrap: nowrap, $align: center);
  @include effect-border-underline($color-bg: $color-red-dark);
  color: $color-green-dark;
  border: none;
  @include fonts($font-header, $font-size-medium, $font-weight-regular, $color: $color-green-dark);
}

.remove__button{
  @include fonts($font-special, $font-size-regular, $font-weight-regular, $color : $color-green-dark);
  border: none;
  background-color: $color-green-light;
  border-radius: $border-radius-max;
  padding: $padding-btn-x $padding-btn-y;
  & .bi-x-lg {
    @include margin-element($top: false, $right: false, $bottom: false, $left: true);
   }
  &:hover,
  &:active {
    & .bi-x-lg{
      color: $color-red-signal;
     }
    outline: $border-width solid $color-green-dark;
  }
}

.interaction-icon {
  color: $color-red-dark;
  border: none;
  border-radius: 50%;
  background-color: $color-green-light;
  padding: $padding-icon;

  &:hover,
  &:active {
    color: $color-red-signal;
    outline: $border-width solid $color-green-dark;
  }
}

/* Media Querys */
@media only screen and (max-width: 769px) {
  .btn-main {
    padding: $padding-btn-y-small $padding-btn-x-small;
  }
}