@import '../tools/variables';
@import '../mixins/mixins';
@import '../mixins/mixins_abstaende';

.page {
    width: min($width-min-container, $width-max-container);
    margin: 0 auto; //centers container
    @include flexbox--no-gap($justify: center, $align: center, $wrap: wrap);
    @include gap-page;
    position: relative; 
}

