@import '../tools/variables';
@import '../mixins/mixins';
@import '../mixins/mixins-layout';

.page {
    width: min($min-width-page,$max-width-page);
    margin: 0 auto; //centers container
    &__grid{
        @include grid;
        gap: $gap-container;
    }
}

#toggle-product-view_ul {
    @include hide-for-small;
}

.hide-for-small{
    @include hide-for-small;
}

.hide-for-medium{
    @include hide-for-medium;
}

.hide-for-large{
    @include hide-for-large;
}

