@import '../../../core/stylesheets/layout/layout';
@import '../../../core/stylesheets/elements/controls';
@import '../../../core/stylesheets/mixins/mixins';
@import '../../../core/stylesheets/mixins/mixins-layout';
@import '../../../core/stylesheets/mixins/mixins-effects';

@import '../../../core/stylesheets/tools/variables';
@import '../../../core/stylesheets/tools/typographie';

@import '../../../core/stylesheets/elements/controls';
@import '../../../core/stylesheets/components/quantity_selector';

@import "./mixins";

//Stlyesheet der Produkte der Katalogseite in Listenform

.card-list--produkt-view {
   @include card;
   @include padding-element;
   @include flexbox($direction: row, $justify: space-between, $wrap: nowrap);
   @include gap-component;

   &__table {
      &__selector {
         max-width: 220px;
      }

      border-collapse: collapse;
      border-spacing: 0;
      border-radius: $border-radius;
      @include hide-for-small;

      &__body {
         & td {
            text-align: left;
            @include padding-element($top: false, $bottom: false);
            &:nth-child(3) {
               @include hide-for-small;
            }
            &:last-child {
               @include hide-for-small;
               @include hide-for-medium; 
            }
         }
      }
      &__img {
         overflow: hidden;
         border-radius: $border-radius;
         width: auto;
         height: 80px;
         background: $color-green-light;
         &  > img{
            width: 80px;
            height: 80px;
            display: block;
            object-fit: scale-down;
         }
      }
      &__info {    
         @include flexbox($direction: row, $justify: flex-start, $wrap: nowrap);
      }
   }

   &__price{
      @include hide-for-large; 
      @include hide-for-medium;
   }
}

@media only screen and (min-width: 0) and (max-width:$breakpoint-small) {
   .card-list--produkt-view {
      flex-wrap: wrap;

      &__table {
         &__selector {
            max-width: 100%;
            &__info{
               @include flexbox($direction: column, $justify: flex-start, $wrap: nowrap);
            }
         }

      }
   }

}