@import '../../../core/stylesheets/layout/layout';
@import '../../../core/stylesheets/elements/controls';
@import '../../../core/stylesheets/mixins/mixins';
@import '../../../core/stylesheets/mixins/mixins-layout';
@import '../../../core/stylesheets/mixins/mixins-effects';

@import '../../../core/stylesheets/tools/variables';
@import '../../../core/stylesheets/tools/typographie';

@import '../../../core/stylesheets/elements/controls';
@import '../../../core/stylesheets/components/quantity_selector';


@import "./mixins";

.card-list--produkt-view {
   @include card;
   @include padding-element;
   @include flexbox($direction: row, $justify: space-between, $wrap: nowrap);
   @include gap-component;

   & .produkt {
      &__selector {
         max-width: 220px;
      }

      border-collapse: collapse;
      border-spacing: 0;
      border-radius: $border-radius;
      @include hide-for-small;

      &__body {
         & td {
            text-align: left;
            @include padding-element($top: false, $bottom: false);
         }
      }

      &__img {
         width: 80px;
         height: 80px;
         display: block;
         object-fit: scale-down;
      }

      &__img-container {
         overflow: hidden;
         border-radius: $border-radius;
         width: auto;
         height: 80px;
         background: $color-green-light;
      }

   }
}

@media only screen and (min-width: 0) and (max-width:$breakpoint-small) {
   .card-list--produkt-view {
      flex-wrap: wrap;

      & .produkt {
         &__selector {
            max-width: 100%;
         }
      }
   }

}