@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap');

/* Colors */
$color-green-light: #E6F5DD;
$color-green-dark: #6D865E;
$color-red-dark: #6D3E4B;
$color-red-signal: #C4413A;
$color-grey-light: #F5F5F5;
$color-grey-transparent:  rgba($color-grey-light, 0.8);
$color-grey-dark: #B9B9B9;
$color-blue-link: #3563E9;
$color-black: #000000;
$color-light: #FFFFFF;

/* Linear Gradients */
$color-gradient-green-light: #E1EFD9;
$color-gradient-green-dark: #64875A;
$color-gradient-red-light: #D75176;
$color-gradient-red-dark: #6D3E4B;
$gradient-green: linear-gradient(90deg, $color-gradient-green-light, 0%, $color-green-dark 35%);
$gradient-red: linear-gradient(90deg, $color-gradient-red-light 0%, $color-red-dark 35%);

/* base */
$base-font-size: 16px;

/* breakpoints equal to bootstraps*/
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;

/* gabs */
$gap-container: 5rem;
$gap-component: 1.5rem;
$gap-element: 0.5rem;
$gap-element--small: 0.5rem;
/* Margin */

$margin-section-big-x: 2.25rem;
$margin-section-small-x: 1.5rem;
$margin-section-y: 1.25rem;
$margin-elements: 0.5rem;
$margin-elements--small: 0.25rem;

/* Padding */

$padding-component: 1.5rem;
$padding-box-small: 0.1rem;

/* Padding Button */
$padding-btn-x: 0.75rem;
$padding-btn-y: 1rem;
$padding-icon: 0.25rem;

$padding-btn-x-small: $padding-btn-x * 0.5;
$padding-btn-y-small: $padding-btn-y * 0.5;

/* width */
$width-min-container: 90%;
$width-max-container: 75.25rem;
$width-min-button-desktop: 8.125rem;
$width-min-button-mobile: 6.25rem;
/* height */
$height-min-btn: 2.5rem;
$height-nav: 5rem;

/* Border Radius */
$border-radius: 0.5rem;
$border-radius-max: 3.125rem;
$border-width: 0.05em;
$border-width-max: 0.6rem;

/* fonts */

// font-family
$font-regular: 'PT Serif', serif;

// font-size
$font-size-headline: 4.5rem;
$font-size-titel: 2.0rem;
$font-size-subtitel: 1.3125rem;
$font-size-body: 1rem;
$font-size-button: 1rem;
$font-size-fine: 0.6875rem;

// font-weight
$font-weight-regular: 400;
$font-weight-bold: 700;

// border-box-shadow

$border-box-shadow: 0 .5rem 1rem -.25rem $color-black;
$border-box-shadow--green-dark: 0 .5rem 1rem -.25rem $color-green-dark;
$border-box-shadow--signal: 0 .5rem 1rem -.25rem $color-red-signal;