@import '../mixins/mixins_effects';
@import '../mixins/mixins';
@import '../mixins/mixins_abstaende';

.podukt-auswahl {
   @include flexbox($direction: row, $justify: space-between, $wrap: nowrap, $gab: $margin-elements, $align: flex-start);
}

.cards {
   @include flexbox($direction: row, $justify: space-between, $wrap: wrap,  $gab: $margin-elements);
   width: 100%;
}

.cards:last-child {
   align-self: flex-start;
}


.card {
   @include border($color: $color-green-light);
   @include padding-element();
   @include flexbox($direction: row, $justify: center, $wrap: wrap, $gab: $margin-elements);
   @include effect-drop-shadow-hover();
   @include responsive-spacing(max-width, 19rem, 1, 0.7);
   @include responsive-spacing(max-height, 25rem, 1, 0.5);
   @include effect-drop-shadow-hover();
   border-radius: $border-radius;

   &__text__container {
      width: 45%;
      @include flexbox($justify: space-between, $wrap: wrap, $gab: $margin-elements);
   }

   &__imgcontainer {
      overflow: hidden;
      width: 45%;

      &__img {
         width: 100%;
         height: auto;
         display: block;
         object-fit: contain;
      }
   }

   &__line {
      width: 100%;
      border-bottom: $border-width;
      background: $color-gradient-green-light;
   }
}

.button {
   width: 100%;

}