@import "../tools/variables";
@import "../mixins/mixins_effects";
@import "../mixins/mixins";
@import "../mixins//mixins_abstaende"; 

.filter{
    @include border($width: 0.6rem,$color: $color-light);
    background:$gradient-green;
    border-top-right-radius: $border-radius-max;
    border-bottom-left-radius: $border-radius-max;
    width: 25%;
    box-shadow: $border-box-shadow;
    padding: $padding-element; 
    color: $color-light; 
    @include flexbox($justify: flex-start, $wrap: wrap, $gab: $margin-elements, $align:center);

&__imgcontainer{
    width: 70%;
    margin-top: 2rem;
    overflow: hidden;

    &__img{
        width: 100%;
        height: auto;
        display: block;
        object-fit: contain;
    }
}
}

.p-accordion-header {
    @include border($border-property: border-bottom,$color: $color-light);
    @include responsive-spacing(padding-bottom, 0.5rem, 1, 0.5);
    @include responsive-spacing(padding-top, 0.5rem, 1, 0.5);
    @include responsive-spacing(margin-bottom, 0.5rem, 1, 0.5);
}