@import "../tools/variables";
@import "../mixins/mixins_effects";
@import "../mixins/mixins";
@import "../mixins/mixins_abstaende";

.filter {
    background: $gradient-green;
    border-bottom-left-radius: $border-radius-max;
    border-top-right-radius: $border-radius-max;
    box-shadow: $border-box-shadow;
    color: $color-light;
    @include border($width: 0.6rem, $color: $color-light);
    @include flexbox($justify: flex-start, $wrap: wrap, $gab: $margin-elements, $align: center);
    padding: $padding-element;
    width: 20%;

    &__imgcontainer {
        margin-top: 2rem;
        overflow: hidden;
        width: 70%;

        &__img {
            display: block;
            height: auto;
            object-fit: contain;
            width: 100%;
        }
    }
}

.p-accordion-header {
    @include border($border-property: border-bottom, $color: $color-light);
    @include responsive-spacing(margin-bottom, 0.5rem, 1, 0.5);
    @include responsive-spacing(padding-bottom, 0.5rem, 1, 0.5);
    @include responsive-spacing(padding-top, 0.5rem, 1, 0.5);
}
