@import "../tools/variables";
@import "../mixins/mixins_effects";
@import "../mixins/mixins";
@import "../mixins/mixins_abstaende";

.hauptmenu {
    background-color: $color-green-light;
    width: 100%;
    height: $height-nav;
    @include margin-page;

    &__content {
        color: $color-green-dark;
        height: $height-nav;
        text-transform: uppercase;
        width: 100%;
        @include flexbox--no-gap($direction: row, $justify: center, $align: stretch, $wrap: wrap);
    }

    &__nav-button {
        flex-grow: 1;
        @include reset-button-styles;
        border-bottom: 1px solid $color-green-light;
        @include flexbox--no-gap($justify: center, $wrap: nowrap, $align: center);
        @include effect-border-underline($color-bg: $color-red-dark);
        color: $color-green-dark;

        &--cart {
            flex-grow: 1;
            @include reset-button-styles;
            border-bottom: 1px solid $color-green-light;
            @include flexbox--no-gap($justify: center, $wrap: nowrap, $align: center);
            color: $color-green-dark;
            @include flexbox--no-gap($direction: row, $justify: center, $wrap: nowrap, $align: center);

            &:hover {
                color: $color-red-dark;
            }

            &__icon {
                color: $color-green-dark;
                font-size: 1.5rem !important;
                color: $color-red-dark;

            }

            &__text {
                color: $color-red-dark;
                text-align: start;
                margin-left: $margin-elements;
            }


        }
    }
}

.cart {
    &__container {
        top: $height-nav;
        right: 0;
        width: 25%;
        @include flexbox--no-gap($direction: column, $justify: space-between, $wrap: nowrap, $align: stretch);
        position: absolute;
        z-index: 1000;
        display: visible;

        &--hidden {
            display: none;
        }

        &>* {
            width: 100%;
            padding: $padding-element;
        }
    }

    &__header {
        @include flexbox--no-gap($direction: row, $justify: space-between, $wrap: nowrap, $align: stretch);
        background: $color-green-light;
    }

    &__section {
        background-color: $color-light;

        &--no-items {
            background-color: $color-light;
            text-align: center;
        }

        &__img {
            width: 100%;
            height: auto;
            display: block;
            object-fit: fill;
        }

        &__img-container {
            overflow: hidden;
            border-radius: $border-radius;
            width: 60px;
            height: 60px;
        }
    }

    &__main {
        max-height: 50vh;
        background-color: $color-light;
        overflow-y: auto;
        border-left: $border-width solid $color-green-light;
        border-right: $border-width solid $color-green-light;
    }

    &__footer {
        @include flexbox--no-gap($direction: row, $justify: space-between, $wrap: nowrap, $align: stretch);
        background-color: $color-green-light;
    }
}

.disabled {
    display: visible;

}

.notDisabled {
    display: none;
}