<main class="main">
    <img *ngIf="base64String" [src]="base64String" alt="Image" />

    <div class="hauptmenu">
        <div class="container">
            <article *ngIf="warenkorbVisibility" class="warenkorb__container">
                <header class="warenkorb__header">
                    <p>test</p>
                    <p>test</p>
                </header>
                <section class="warenkorb__section">
                    <p>test</p>
                    <p>test</p>
                </section>
                <footer class="warenkorb__footer">
                    <p>test</p>
                    <p>test</p>
                </footer>
                </article>
        <nav class="hauptmenu__content">
            <button *ngFor="let nav of navWein; index as i" class="hauptmenu__nav-button">
                <span class="h3">{{nav}}</span>
            </button>
            <button class=" hauptmenu__nav-button hauptmenu__nav-button--warenkorb" (click)="toggleWarenkorb()">
                <span class="h3 "><i class="bi-cart3 bi-4x hauptmenu__nav-button--warenkorb"></i></span>
                <span class ="hauptmenu__nav-button--warenkorb__text text-regular">Gesamt:
                    <br>
                0.00 €</span>
            </button>
        </nav>
    </div>
    </div>
    <div class="container">
        <nav class="weinmenu">
            <button *ngFor="let nav of navWein; index as i" class="weinmenu__nav-button">
                <figure class="weinmenu__img-container">
                    <img [src]="weinmenueBilder[i]" class="logo weinmenu__img">
                </figure>
                <span class="weinmenu__text-margin h2">{{nav}}</span>
            </button>
        </nav>
        <div class="produkt-auswahl__container">
            <div class="filter__container">
                <!--  <figure class="filter__imgcontainer">
                    <img src="assets/logo--weiss.png" class="filter__imgcontainer__img">
                </figure>-->
                <h3 class="h2--color-white"> Zusätzliche Produktfilter</h3>
                <p-accordion [multiple]="true" [activeIndex]="[0]">
                    <p-accordionTab header="Geschmack">
                        <form [formGroup]="formGeschmack">
                            <div *ngFor="let geschmack of geschmaecker" class="filter__input__container">
                                <div class="filter__input__radio__container">
                                    <input type="radio" formControlName="geschmack" [value]="geschmack"> {{ geschmack }}
                                </div>
                                <p class="filter__input__radio">{{ formGeschmack.get(geschmack.toLowerCase() +
                                    'Count')?.value }}</p>
                            </div>
                        </form>
                    </p-accordionTab>
                    <p-accordionTab header="Rebsorte">
                        <form [formGroup]="formRebsorte">

                            <div *ngFor="let rebsorte of rebsorten" class="filter__input__container">
                                <div class="filter__input__radio__container">
                                    <input type="radio" formControlName="rebsorte" [value]="rebsorte"> {{ rebsorte }}
                                </div>
                                <p class="filter__input__radio">{{ formRebsorte.get(rebsorte.toLowerCase() +
                                    'Count')?.value }}</p>
                            </div>

                        </form>
                    </p-accordionTab>
                    <p-accordionTab header="Preis">
                        <form [formGroup]="formPreis">
                            <div class="filter__input__container">
                                <div class="filter__input__radio__container">
                                    <div class="filter__input__preis__container">
                                        <label for="preisMax">von</label>
                                        <input type="number" id="preisMax" formControlName="preisMax">
                                    </div>
                                    <p> - </p>
                                    <div class="filter__input__preis__container">
                                        <label for="preisMin">bis</label>
                                        <input type="number" id="preisMin" formControlName="preisMin">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </p-accordionTab>
                </p-accordion>

            </div>
            <div class="card__container">
                <div class="card">
                    <figure class="card__imgcontainer">
                        <img src="assets/grauburgunder.png" class="card__imgcontainer__img">
                    </figure>
                    <div class="card__text__container">
                        <p class="text-regular">Jahrgang 2022</p>
                        <h3>Grauer Burgunder</h3>
                        <p class=" text-regular">trocken</p>
                        <p class="text-regular">Burgunder</p>
                    </div>
                    <hr class="card__line">
                    <h3>7.90$</h3>
                    <button class="btn btn-main text-btn--white button">
                        In den Warenkorb
                    </button>
                    <p class="text-fine">0,75l | 14,53 $ | inkl. MwSt. zzgl.
                        <span class="link">Verstand</span>
                    </p>
                    <hr class="card__line">
                </div>

                <div class="card">
                    <figure class="card__imgcontainer">
                        <img src="assets/grauburgunder.png" class="card__imgcontainer__img">
                    </figure>
                    <div class="card__text__container">
                        <p class="text-regular">Jahrgang 2022</p>
                        <h3>Grauer Burgunder</h3>
                        <p class=" text-regular">trocken</p>
                        <p class="text-regular">Burgunder</p>
                    </div>
                    <hr class="card__line">
                    <h3>7.90$</h3>
                    <button class="btn btn-main text-btn--white button">
                        In den Warenkorb
                    </button>
                    <p class="text-fine">0,75l | 14,53 $ | inkl. MwSt. zzgl.
                        <span class="link">Verstand</span>
                    </p>
                    <hr class="card__line">
                </div>

                <div class="card">
                    <figure class="card__imgcontainer">
                        <img src="assets/grauburgunder.png" class="card__imgcontainer__img">
                    </figure>
                    <div class="card__text__container">
                        <p class="text-regular">Jahrgang 2022</p>
                        <h3>Grauer Burgunder</h3>
                        <p class=" text-regular">trocken</p>
                        <p class="text-regular">Burgunder</p>
                    </div>
                    <hr class="card__line">
                    <h3>7.90$</h3>
                    <button class="btn btn-main text-btn--white button">
                        In den Einkaufswagen
                    </button>
                    <p class="text-fine">0,75l | 14,53 $ | inkl. MwSt. zzgl.
                        <span class="link">Verstand</span>
                    </p>
                    <hr class="card__line">
                </div>

                <div class="card">
                    <figure class="card__imgcontainer">
                        <img src="assets/grauburgunder.png" class="card__imgcontainer__img">
                    </figure>
                    <div class="card__text__container">
                        <p class="text-regular">Jahrgang 2022</p>
                        <h3>Grauer Burgunder</h3>
                        <p class=" text-regular">trocken</p>
                        <p class="text-regular">Burgunder</p>
                    </div>
                    <hr class="card__line">
                    <h3>7.90$</h3>
                    <button class="btn btn-main text-btn--white button">
                        In den Einkaufswagen
                    </button>
                    <p class="text-fine">0,75l | 14,53 $ | inkl. MwSt. zzgl.
                        <span class="link">Verstand</span>
                    </p>
                    <hr class="card__line">
                </div>

                <div class="card">
                    <figure class="card__imgcontainer">
                        <img src="assets/grauburgunder.png" class="card__imgcontainer__img">
                    </figure>
                    <div class="card__text__container">
                        <p class="text-regular">Jahrgang 2022</p>
                        <h3>Grauer Burgunder</h3>
                        <p class=" text-regular">trocken</p>
                        <p class="text-regular">Burgunder</p>
                    </div>
                    <hr class="card__line">
                    <h3>7.90$</h3>
                    <button class="btn btn-main text-btn--white button">
                        In den Einkaufswagen
                    </button>
                    <p class="text-fine">0,75l | 14,53 $ | inkl. MwSt. zzgl.
                        <span class="link">Verstand</span>
                    </p>
                    <hr class="card__line">
                </div>
                <div class="card">
                    <figure class="card__imgcontainer">
                        <img src="assets/grauburgunder.png" class="card__imgcontainer__img">
                    </figure>
                    <div class="card__text__container">
                        <p class="text-regular">Jahrgang 2022</p>
                        <h3>Grauer Burgunder</h3>
                        <p class=" text-regular">trocken</p>
                        <p class="text-regular">Burgunder</p>
                    </div>
                    <hr class="card__line">
                    <h3>7.90$</h3>
                    <button class="btn btn-main text-btn--white button">
                        In den Einkaufswagen
                    </button>
                    <p class="text-fine">0,75l | 14,53 $ | inkl. MwSt. zzgl.
                        <span class="link">Verstand</span>
                    </p>
                    <hr class="card__line">
                </div>

                <div class="card">
                    <figure class="card__imgcontainer">
                        <img src="assets/grauburgunder.png" class="card__imgcontainer__img">
                    </figure>
                    <div class="card__text__container">
                        <p class="text-regular">Jahrgang 2022</p>
                        <h3>Grauer Burgunder</h3>
                        <p class=" text-regular">trocken</p>
                        <p class="text-regular">Burgunder</p>
                    </div>
                    <hr class="card__line">
                    <h3>7.90$</h3>
                    <button class="btn btn-main text-btn--white button">
                        In den Einkaufswagen
                    </button>
                    <p class="text-fine">0,75l | 14,53 $ | inkl. MwSt. zzgl.
                        <span class="link">Verstand</span>
                    </p>
                    <hr class="card__line">
                </div>

            </div>
        </div>
    </div>
</main>
<router-outlet></router-outlet>