<main class="main">
    <img *ngIf="base64String" [src]="base64String" alt="Image" />
    <div class="container">
        <div class="podukt-auswahl">
            <div class="podukt-auswahl__filter">
                <p>test</p>
            </div>
        <div class="cards">
            <div class="card">
                <figure class="card__imgcontainer">
                    <img src="assets/grauburgunder.png" class="card__imgcontainer__img">
                </figure>
                <div class="card__text__container">
                    <p class="text-regular">Jahrgang 2022</p>
                    <h3>Grauer Burgunder</h3>
                    <p class=" text-regular">trocken</p>
                    <p class="text-regular">Burgunder</p>
                </div>
                <hr class="card__line">
                <h3>7.90$</h3>
                <button class="btn btn-main text-btn--white button">
                    In den Einkaufswagen
                </button>
                <p class="text-fine">0,75l | 14,53 $ | inkl. MwSt. zzgl.
                    <span class="link">Verstand</span>
                </p>
                <hr class="card__line">
            </div>

            <div class="card">
                <figure class="card__imgcontainer">
                    <img src="assets/grauburgunder.png" class="card__imgcontainer__img">
                </figure>
                <div class="card__text__container">
                    <p class="text-regular">Jahrgang 2022</p>
                    <h3>Grauer Burgunder</h3>
                    <p class=" text-regular">trocken</p>
                    <p class="text-regular">Burgunder</p>
                </div>
                <hr class="card__line">
                <h3>7.90$</h3>
                <button class="btn btn-main text-btn--white button">
                    In den Einkaufswagen
                </button>
                <p class="text-fine">0,75l | 14,53 $ | inkl. MwSt. zzgl.
                    <span class="link">Verstand</span>
                </p>
                <hr class="card__line">
            </div>

            <div class="card">
                <figure class="card__imgcontainer">
                    <img src="assets/grauburgunder.png" class="card__imgcontainer__img">
                </figure>
                <div class="card__text__container">
                    <p class="text-regular">Jahrgang 2022</p>
                    <h3>Grauer Burgunder</h3>
                    <p class=" text-regular">trocken</p>
                    <p class="text-regular">Burgunder</p>
                </div>
                <hr class="card__line">
                <h3>7.90$</h3>
                <button class="btn btn-main text-btn--white button">
                    In den Einkaufswagen
                </button>
                <p class="text-fine">0,75l | 14,53 $ | inkl. MwSt. zzgl.
                    <span class="link">Verstand</span>
                </p>
                <hr class="card__line">
            </div>

            <div class="card">
                <figure class="card__imgcontainer">
                    <img src="assets/grauburgunder.png" class="card__imgcontainer__img">
                </figure>
                <div class="card__text__container">
                    <p class="text-regular">Jahrgang 2022</p>
                    <h3>Grauer Burgunder</h3>
                    <p class=" text-regular">trocken</p>
                    <p class="text-regular">Burgunder</p>
                </div>
                <hr class="card__line">
                <h3>7.90$</h3>
                <button class="btn btn-main text-btn--white button">
                    In den Einkaufswagen
                </button>
                <p class="text-fine">0,75l | 14,53 $ | inkl. MwSt. zzgl.
                    <span class="link">Verstand</span>
                </p>
                <hr class="card__line">
            </div>

            <div class="card">
                <figure class="card__imgcontainer">
                    <img src="assets/grauburgunder.png" class="card__imgcontainer__img">
                </figure>
                <div class="card__text__container">
                    <p class="text-regular">Jahrgang 2022</p>
                    <h3>Grauer Burgunder</h3>
                    <p class=" text-regular">trocken</p>
                    <p class="text-regular">Burgunder</p>
                </div>
                <hr class="card__line">
                <h3>7.90$</h3>
                <button class="btn btn-main text-btn--white button">
                    In den Einkaufswagen
                </button>
                <p class="text-fine">0,75l | 14,53 $ | inkl. MwSt. zzgl.
                    <span class="link">Verstand</span>
                </p>
                <hr class="card__line">
            </div>
            <div class="card">
                <figure class="card__imgcontainer">
                    <img src="assets/grauburgunder.png" class="card__imgcontainer__img">
                </figure>
                <div class="card__text__container">
                    <p class="text-regular">Jahrgang 2022</p>
                    <h3>Grauer Burgunder</h3>
                    <p class=" text-regular">trocken</p>
                    <p class="text-regular">Burgunder</p>
                </div>
                <hr class="card__line">
                <h3>7.90$</h3>
                <button class="btn btn-main text-btn--white button">
                    In den Einkaufswagen
                </button>
                <p class="text-fine">0,75l | 14,53 $ | inkl. MwSt. zzgl.
                    <span class="link">Verstand</span>
                </p>
                <hr class="card__line">
            </div>

            <div class="card">
                <figure class="card__imgcontainer">
                    <img src="assets/grauburgunder.png" class="card__imgcontainer__img">
                </figure>
                <div class="card__text__container">
                    <p class="text-regular">Jahrgang 2022</p>
                    <h3>Grauer Burgunder</h3>
                    <p class=" text-regular">trocken</p>
                    <p class="text-regular">Burgunder</p>
                </div>
                <hr class="card__line">
                <h3>7.90$</h3>
                <button class="btn btn-main text-btn--white button">
                    In den Einkaufswagen
                </button>
                <p class="text-fine">0,75l | 14,53 $ | inkl. MwSt. zzgl.
                    <span class="link">Verstand</span>
                </p>
                <hr class="card__line">
            </div>

        </div>
    </div>
    </div>
</main>
<router-outlet></router-outlet>