@import "../../../shared/stylesheets/mixins/mixins";
@import "../../../shared/stylesheets/mixins/mixins_abstaende";
@import "../../../shared/stylesheets/mixins/mixins_effects";

@import "../../../shared/stylesheets/tools/typographie";
@import "../../../shared/stylesheets/tools/variables";

@import "../../../shared/stylesheets/elements/controls";


.produktinformation{
    &__container{

        @include flexbox--no-gap($direction: column, $justify: center, $wrap: wrap);
        @include padding-component;
        @include gap-component;
        background: $color-light;
        @include border($color: $color-green-light);
        border-radius: $border-radius;
        max-width: 25%;

        & > *{
            @include flexbox--no-gap($direction: column, $justify: space-between, $wrap: wrap);
            @include gap-element;
            width: 100%;
        }
    }
    &__header{
        &__titel{
            text-align: start;
            &:first-child{
                @include margin-element($bottom: true);

            }
        }
        &__starreview{
            &__container{
                width: 100%;
                @include flexbox--no-gap($direction: row, $justify: space-between, $wrap: wrap);
            }
            &__stars{
                &__container{
                    @include flexbox--no-gap($direction: row, $justify: flex-start, $wrap: nowrap);
                    @include  gap-element;
                }
            }
        }
    }
    &__section{
        &__ul{
            @include flexbox--no-gap($direction: column, $justify: space-between, $wrap: nowrap);
        }
        &__li{
            @include flexbox--no-gap($direction: row, $justify: space-between, $wrap: nowrap);
        }
    }

    &__footer{
        &__line{
            width: 100%;
            border-bottom: $border-width;
            color: $color-gradient-green-light;
        }
    }

}

/* media-queries */
@media (max-width: 1270px) { 
    .produktinformation__container{
       max-width: 35%;
    }
  }