@import '../../../core/stylesheets/mixins/mixins';
@import '../../../core/stylesheets/mixins/mixins-layout';
@import '../../../core/stylesheets/mixins/mixins-effects';

@import '../../../core/stylesheets/tools/typographie';
@import '../../../core/stylesheets/tools/variables';

@import '../../../core/stylesheets/elements/controls';

.nav {
    @include border($border-property: border-bottom, $width: $border-width, $style: solid, $color: $color-green-light);
    @include flexbox($direction: row, $justify: center, $wrap: nowrap, $align: center);
    @include gap-container;

    &__button {
        @include border($border-property: border-bottom, $color : $color-green-dark);
        @include effect-border-underline($color-bg: $color-red-dark);
        color: $color-green-dark;

        &--activ {
            @include border($border-property: border-bottom, $color : $color-red-dark);
            color: $color-red-dark;
        }

        &:hover {
            color: $color-red-dark;
        }
    }
}