@import '../../../core/stylesheets/mixins/mixins';
@import '../../../core/stylesheets/mixins/mixins-layout';
@import '../../../core/stylesheets/mixins/mixins-effects';

@import '../../../core/stylesheets/tools/typographie';
@import '../../../core/stylesheets/tools/variables';

@import '../../../core/stylesheets/elements/controls';

.servierempfehlung {
    background-image: url('../../../../assets/food.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    @include padding-container; 
    @include border($border-property: border-bottom, $width: $border-width, $style: solid, $color: $color-green-dark); 
    @include border($border-property: border-top, $width: $border-width, $style: solid, $color: $color-green-dark); 
    &__section {
        &__text{
            text-align: center;
            width: 70%; 
        }
        &__container {
            @include flexbox($direction: column, $justify: space-between, $align: center, $wrap: nowrap);
            @include gap-element;
        }
    }
}