@import '../tools/variables';

@mixin responsive-spacing($property, $value, $medium-factor: 0.6, $minimum-factor: 0.3, $width-small: 0.3) {
  #{$property}: $value;

  @media only screen and (max-width: 576px) {
    #{$property}: $value * $minimum-factor;
  }

  @media only screen and (min-width: 577px) and (max-width: 768px) {
    #{$property}: $value * $medium-factor;
  }

  @media only screen and (min-width: 769px) and (max-width: 1199px) {
    #{$property}: $value;
  }

  @media only screen and (max-width: 400px) {
    #{$property}: $value * $width-small;
  }
}




@mixin gap-page {
  gap: $gap-page;
  @include responsive-spacing($property: gap, $value: $gap-page, $medium-factor: 0.5, $minimum-factor: 0.5, $width-small: 0.5);
}

@mixin margin-page {
  margin-bottom: $gap-page;
  @include responsive-spacing( margin-bottom, $gap-page)
}

@mixin gap-component {
  gap: $gap-component;
  @include responsive-spacing(gap, $gap-component);
}

@mixin gap-element {
  gap: $gap-element;
  @include responsive-spacing(gap, $gap-element);
}

@mixin gap-element--small {
  gap: $gap-element--small;
  @include responsive-spacing(gap, $gap-element--small);
}

@mixin padding-component {
  padding: $padding-component;
  @include responsive-spacing(padding, $padding-component);
}



