@import '../tools/variables';

@mixin responsive-spacing($property, $value, $medium-factor: 0.6, $minimum-factor: 0.3, $width-small: 0.3) {
  #{$property}: $value;

  @media only screen and (max-width: 576px) {
    #{$property}: $value * $minimum-factor;
  }

  @media only screen and (min-width: 577px) and (max-width: 768px) {
    #{$property}: $value * $medium-factor;
  }

  @media only screen and (min-width: 769px) and (max-width: 1199px) {
    #{$property}: $value;
  }

  @media only screen and (max-width: 400px) {
    #{$property}: $value * $width-small;
  }
}


/* Gaps */
@mixin gap-page {
  gap: $gap-page;
  @include responsive-spacing($property: gap, $value: $gap-page, $medium-factor: 0.5, $minimum-factor: 0.5, $width-small: 0.5);
}

@mixin gap-container {
  gap: $gap-container;
  @include responsive-spacing($property: gap, $value: $gap-container, $medium-factor: 0.5, $minimum-factor: 0.5, $width-small: 0.5);
}

@mixin gap-component {
  gap: $gap-component;
  @include responsive-spacing($property: gap, $value: $gap-component, $medium-factor: 0.5, $minimum-factor: 0.5, $width-small: 0.5);
}

@mixin gap-element {
  gap: $gap-element;
  @include responsive-spacing($property: gap, $value: $gap-element, $medium-factor: 0.5, $minimum-factor: 0.5, $width-small: 0.5);
}

/* Margin */
@mixin margin-page($top: true, $right: true, $bottom: true, $left: true) {
  @if $top {
    margin-top: $margin-page;
    @include responsive-spacing($property: margin-top, $value: $margin-page, $medium-factor: 0.5, $minimum-factor: 0.5, $width-small: 0.5);
  }

  @if $right {
    margin-right: $margin-page;
    @include responsive-spacing($property: margin-right, $value: $margin-page, $medium-factor: 0.5, $minimum-factor: 0.5, $width-small: 0.5);
  }

  @if $bottom {
    margin-bottom: $margin-page;
    @include responsive-spacing($property: margin-bottom, $value: $margin-page, $medium-factor: 0.5, $minimum-factor: 0.5, $width-small: 0.5);
  }

  @if $left {
    margin-left: $margin-page;
    @include responsive-spacing($property: margin-left, $value: $margin-page, $medium-factor: 0.5, $minimum-factor: 0.5, $width-small: 0.5);
  }
}

@mixin margin-container($top: true, $right: true, $bottom: true, $left: true) {
  @if $top {
    margin-top: $margin-container;
    @include responsive-spacing($property: margin-top, $value: $margin-container, $medium-factor: 0.5, $minimum-factor: 0.5, $width-small: 0.5);
  }

  @if $right {
    margin-right: $margin-container;
    @include responsive-spacing($property: margin-right, $value: $margin-container, $medium-factor: 0.5, $minimum-factor: 0.5, $width-small: 0.5);
  }

  @if $bottom {
    margin-bottom: $margin-container;
    @include responsive-spacing($property: margin-bottom, $value: $margin-container, $medium-factor: 0.5, $minimum-factor: 0.5, $width-small: 0.5);
  }

  @if $left {
    margin-left: $margin-container;
    @include responsive-spacing($property: margin-left, $value: $margin-container, $medium-factor: 0.5, $minimum-factor: 0.5, $width-small: 0.5);
  }
}

@mixin margin-component($top: true, $right: true, $bottom: true, $left: true) {
  @if $top {
    margin-top: $margin-component;
    @include responsive-spacing($property: margin-top, $value: $margin-component, $medium-factor: 0.5, $minimum-factor: 0.5, $width-small: 0.5);
  }

  @if $right {
    margin-right: $margin-component;
    @include responsive-spacing($property: margin-right, $value: $margin-component, $medium-factor: 0.5, $minimum-factor: 0.5, $width-small: 0.5);
  }

  @if $bottom {
    margin-bottom: $margin-component;
    @include responsive-spacing($property: margin-bottom, $value: $margin-component, $medium-factor: 0.5, $minimum-factor: 0.5, $width-small: 0.5);
  }

  @if $left {
    margin-left: $margin-component;
    @include responsive-spacing($property: margin-left, $value: $margin-component, $medium-factor: 0.5, $minimum-factor: 0.5, $width-small: 0.5);
  }
}

@mixin margin-element($top: true, $right: true, $bottom: true, $left: true) {
  @if $top {
    margin-top: $margin-element;
    @include responsive-spacing($property: margin-top, $value: $margin-element, $medium-factor: 0.5, $minimum-factor: 0.5, $width-small: 0.5);
  }

  @if $right {
    margin-right: $margin-element;
    @include responsive-spacing($property: margin-right, $value: $margin-element, $medium-factor: 0.5, $minimum-factor: 0.5, $width-small: 0.5);
  }

  @if $bottom {
    margin-bottom: $margin-element;
    @include responsive-spacing($property: margin-bottom, $value: $margin-element, $medium-factor: 0.5, $minimum-factor: 0.5, $width-small: 0.5);
  }

  @if $left {
    margin-left: $margin-element;
    @include responsive-spacing($property: margin-left, $value: $margin-element, $medium-factor: 0.5, $minimum-factor: 0.5, $width-small: 0.5);
  }
}

@mixin margin-atom($top: true, $right: true, $bottom: true, $left: true) {
  @if $top {
    margin-top: $margin-atom;
    @include responsive-spacing($property: margin-top, $value: $margin-atom, $medium-factor: 0.5, $minimum-factor: 0.5, $width-small: 0.5);
  }

  @if $right {
    margin-right: $margin-atom;
    @include responsive-spacing($property: margin-right, $value: $margin-atom, $medium-factor: 0.5, $minimum-factor: 0.5, $width-small: 0.5);
  }

  @if $bottom {
    margin-bottom: $margin-atom;
    @include responsive-spacing($property: margin-bottom, $value: $margin-atom, $medium-factor: 0.5, $minimum-factor: 0.5, $width-small: 0.5);
  }

  @if $left {
    margin-left: $margin-atom;
    @include responsive-spacing($property: margin-left, $value: $margin-atom, $medium-factor: 0.5, $minimum-factor: 0.5, $width-small: 0.5);
  }
}

/* Padding */
@mixin padding-page($top: true, $right: true, $bottom: true, $left: true) {
  @if $top {
    padding-top: $padding-page;
    @include responsive-spacing($property: padding-top, $value: $padding-page, $medium-factor: 0.5, $minimum-factor: 0.5, $width-small: 0.5);
  }

  @if $right {
    padding-right: $padding-page;
    @include responsive-spacing($property: padding-right, $value: $padding-page, $medium-factor: 0.5, $minimum-factor: 0.5, $width-small: 0.5);
  }

  @if $bottom {
    padding-bottom: $padding-page;
    @include responsive-spacing($property: padding-bottom, $value: $padding-page, $medium-factor: 0.5, $minimum-factor: 0.5, $width-small: 0.5);
  }

  @if $left {
    padding-left: $padding-page;
    @include responsive-spacing($property: padding-left, $value: $padding-page, $medium-factor: 0.5, $minimum-factor: 0.5, $width-small: 0.5);
  }
}

@mixin padding-container($top: true, $right: true, $bottom: true, $left: true) {
  @if $top {
    padding-top: $padding-container;
    @include responsive-spacing($property: padding-top, $value: $padding-container, $medium-factor: 0.5, $minimum-factor: 0.5, $width-small: 0.5);
  }

  @if $right {
    padding-right: $padding-container;
    @include responsive-spacing($property: padding-right, $value: $padding-container, $medium-factor: 0.5, $minimum-factor: 0.5, $width-small: 0.5);
  }

  @if $bottom {
    padding-bottom: $padding-container;
    @include responsive-spacing($property: padding-bottom, $value: $padding-container, $medium-factor: 0.5, $minimum-factor: 0.5, $width-small: 0.5);
  }

  @if $left {
    padding-left: $padding-container;
    @include responsive-spacing($property: padding-left, $value: $padding-container, $medium-factor: 0.5, $minimum-factor: 0.5, $width-small: 0.5);
  }
}

@mixin padding-component($top: true, $right: true, $bottom: true, $left: true) {
  @if $top {
    padding-top: $padding-component;
    @include responsive-spacing($property: padding-top, $value: $padding-component, $medium-factor: 0.5, $minimum-factor: 0.5, $width-small: 0.5);
  }

  @if $right {
    padding-right: $padding-component;
    @include responsive-spacing($property: padding-right, $value: $padding-component, $medium-factor: 0.5, $minimum-factor: 0.5, $width-small: 0.5);
  }

  @if $bottom {
    padding-bottom: $padding-component;
    @include responsive-spacing($property: padding-bottom, $value: $padding-component, $medium-factor: 0.5, $minimum-factor: 0.5, $width-small: 0.5);
  }

  @if $left {
    padding-left: $padding-component;
    @include responsive-spacing($property: padding-left, $value: $padding-component, $medium-factor: 0.5, $minimum-factor: 0.5, $width-small: 0.5);
  }
}

@mixin padding-element($top: true, $right: true, $bottom: true, $left: true) {
  @if $top {
    padding-top: $padding-element;
    @include responsive-spacing($property: padding-top, $value: $padding-element, $medium-factor: 0.5, $minimum-factor: 0.5, $width-small: 0.5);
  }

  @if $right {
    padding-right: $padding-element;
    @include responsive-spacing($property: padding-right, $value: $padding-element, $medium-factor: 0.5, $minimum-factor: 0.5, $width-small: 0.5);
  }

  @if $bottom {
    padding-bottom: $padding-element;
    @include responsive-spacing($property: padding-bottom, $value: $padding-element, $medium-factor: 0.5, $minimum-factor: 0.5, $width-small: 0.5);
  }

  @if $left {
    padding-left: $padding-element;
    @include responsive-spacing($property: padding-left, $value: $padding-element, $medium-factor: 0.5, $minimum-factor: 0.5, $width-small: 0.5);
  }
}

@mixin padding-atom($top: true, $right: true, $bottom: true, $left: true) {
  @if $top {
    padding-top: $padding-atom;
    @include responsive-spacing($property: padding-top, $value: $padding-atom, $medium-factor: 0.5, $minimum-factor: 0.5, $width-small: 0.5);
  }

  @if $right {
    padding-right: $padding-atom;
    @include responsive-spacing($property: padding-right, $value: $padding-atom, $medium-factor: 0.5, $minimum-factor: 0.5, $width-small: 0.5);
  }

  @if $bottom {
    padding-bottom: $padding-atom;
    @include responsive-spacing($property: padding-bottom, $value: $padding-atom, $medium-factor: 0.5, $minimum-factor: 0.5, $width-small: 0.5);
  }

  @if $left {
    padding-left: $padding-atom;
    @include responsive-spacing($property: padding-left, $value: $padding-atom, $medium-factor: 0.5, $minimum-factor: 0.5, $width-small: 0.5);
  }
}






