<div class="hauptmenu">
    <div class="container">
        <nav class="hauptmenu__content">
            <button *ngFor="let nav of navWein; index as i" class="hauptmenu__nav-button">
                <span class="h3">{{nav}}</span>
            </button>
            <button class="hauptmenu__nav-button--cart" (click)="togglecart()">
                <span class="h3 "><i class="bi-cart3 bi-4x hauptmenu__nav-button--cart__icon"></i></span>
                <span class="hauptmenu__nav-button--cart__text text-regular">Gesamt:
                    <br>
                    {{cartTotal}} €</span>
            </button>
        </nav>
        <article *ngIf="cartVisibility" class="cart__container">
            <header class="cart__header">
                <p class="h3--color-red">Ihr Warenkorb, <span class="h3--color-green">{{cartAnzahl }}Artikel</span></p>
                <button class=" btn-interaction" (click)="togglecart()">
                <i class="bi  bi-x-lg bi-2x"></i>
            </button>
            </header>
            <section *ngIf="cartItems.length == 0" class="cart__section--no-items">
                <h3>Es befinden sich noch  keine Weine in ihrem Warenkorb. </h3>
                <p class="text-regular--italic" >Klicken Sie einfach 
                    auf den Button "In den Warenkorb" um Weine in ihren Warenkorb zu legen.
                </p>
            </section>
            <footer class="cart__footer">
                <p>Gesamtsumme <span class="text-regular">(inkl. MwSt.)</span></p>
                <p>test</p>
            </footer>
        </article>
    </div>
</div>
