/*import lato light/regular, Liu Jian Mao Cao*/
@import '../tools/variables';
@import '../mixins/mixins';

//TODO add font to be inherrited from main or something

//TODO lineheight hinzufügen

h1 {
    @include fonts($font-size-headline, $font-weight-regular, $color: $color-red-dark);
}

h2 {
    @include fonts($font-size-titel, $font-weight-regular, $color: $color-red-dark);
}


h3 {
    font-family: inherit;
    font-size: $font-size-body;
    color: $color-red-dark;
    font-weight: $font-weight-bold;
}


.text-regular {
    @include fonts($font-size-body, $font-weight-regular, $color : $color-green-dark);
}

.text-regular-italic {
    @include fonts($font-size-body, $font-weight-regular,$italic: true, $color : $color-green-dark);
}

.text-bold{
    @include fonts($font-size-body, $font-weight-bold, $color : $color-green-dark);
}

.text-fine {
    @include fonts($font-size-fine, $font-weight-regular, $color : $color-green-dark);
}

.text-btn--white {
    @include fonts($font-size-button, $font-weight-regular, $color : $color-light);
}

.text-btn--black {
    @include fonts($font-size-button, $font-weight-regular, $color : $color-black);
}

.link{
    color: $color-blue-link;
    text-decoration: underline;
}