@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap');

/* Colors */
$color-green-light: #6D865E;
$color-green-dark: #174027;
$color-red-dark: #6D3E4B;
$color-red-signal: #C4413A;
$color-grey-light: #F5F5F5;
$color-blue-link: #3563E9;
$color-black: #000000;
$color-light: #FFFFFF;

/* Linear Gradients */
$color-gradient-green-light: #64AA32;
$color-gradient-green-dark: #64875A;
$color-gradient-red-light: #D75176;
$color-gradient-red-dark: #6D3E4B;
$gradient-green: linear-gradient(90deg, $color-green-light 0%, $color-green-dark 35%);
$gradient-red: linear-gradient(90deg, color-gradient-red-light 0%, color-gradient-red-dark 35%);

/* base */
$base-font-size: 16px;

/* breakpoints equal to bootstraps*/
$breakpoints: (
    small: 576px,
    medium: 768px,
    large: 992px,
    xlarge: 1200px
);

/* gabs container */
$gap-container: 5rem;
$gab-element:1.5rem;

/* Margin */

$margin-section-big-x: 2.25rem;
$margin-section-small-x: 1.5rem;
$margin-section-y: 1.25rem;
$margin-elements: 0.5rem;

/* Padding */
/*
Small Padding:
padding: 1vw;: A subtle padding that scales with the viewport width.
Moderate Padding:
padding: 2vw;: A bit more noticeable padding, suitable for general spacing.
Standard Padding:
padding: 3vw;: A standard padding for sections or elements that need more separation.
Large Padding:
padding: 4vw;: A larger padding for significant separation, suitable for larger sections.
Fixed Aspect Ratio Padding:
padding: 5vw 2vw;: If you want different padding for horizontal and vertical spacing.
*/
$padding-element: 1.5rem;

/* Padding Button */
$padding-btn-x: 0.75rem;
$padding-btn-y: 1rem;

/* width */
$width-min-container: 90%;
$width-max-container: 75.25rem; 
$width-min-button-desktop: 8.125rem;
$width-min-button-mobile: 6.25rem; 
/* height */
$height-min-btn: 2.5rem;

/* Border Radius */
$border-radius: 0.5rem;
$border-radius-max: 3.125rem;
$border-width: 0.05em;

/* Font Family */
$font-regular: 'PT Serif', serif;

/* Font Sizes */
$font-size-headline: 4.5rem;
$font-size-titel: 2.0rem;
$font-size-subtitel: 1.3125rem;
$font-size-body: 1rem;
$font-size-button: 1rem;
$font-size-fine: 0.6875rem;

/* font Weight*/
$font-weight-regular: 400;
$font-weight-bold: 700;

/* border-box-shadow */

$border-box-shadow:  0 .5rem 1rem -.25rem $color-black;