/* Mixin for Mobile Spacing Modifier */

@mixin mobile-spacing($property, $value) {
  $mobile-modifier: 0.8;
  $value-mobile: $value * $mobile-modifier;

  #{$property}: $value-mobile;

  @media screen and (min-width: 768px) {
    #{$property}: $value;
  }
}

/*fonts*/
@mixin fonts($size, $weight, $family: inherit, $italic: false, $color) {
  font-family: $family ;
  font-size: $size;
  font-weight: $weight;
  color: $color;

  @if $italic {
    font-style: italic;
  }
}

/* breakingpoint mixins */
@mixin respond-to($breakpoint) {
  $breakpoint-value: map-get($breakpoints, $breakpoint);

  @media only screen and (min-width: $breakpoint-value) {
    @content;
  }
}

/*
Example:  // Example usage:
.element {
  width: 100%;

  @include respond-to(medium) {
    width: 50%;
  }

  @include respond-to(large) {
    width: 33.333%;
  }
}
*/

/* flexbox Mixin */
@mixin flexbox($direction: column, $justify: space-between, $align: stretch, $wrap: wrap, $gab) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
  gap: $gab;
}

@mixin flexbox--no-gap($direction: column, $justify: space-between, $align: stretch, $wrap: wrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

@mixin reset-button-styles{
        margin: 0;
        padding: 0;
        border: none;
        background: none;
        font: inherit;
        cursor: pointer;
        outline: none;
        /* Remove default button styles */
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
}

@mixin reset-button-styles--with-border{
  margin: 0;
  padding: 0;
  border:1px solid $color-green-light;
  background: none;
  font: inherit;
  cursor: pointer;
}

// Example usage:
/*.container {
  @include flexbox(column, flex-start, stretch, wrap);
}*/

@mixin border($border-property: border, $width: $border-width, $style: solid, $color) {
  #{$border-property}: $width $style $color;
}

// This will compile to:
// .container {
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-start;
//   align-items: stretch;
//   flex-wrap: wrap;
// }