@mixin gap-page {
  gap: $gap-container;
  @include responsive-spacing(gap, $gap-container)
}

@mixin gap-elements {
  gap: $gap-element;
  @include responsive-spacing(gap, $gab-element)
}

@mixin padding-element {
  padding: $padding-element;
  @include responsive-spacing(padding, $padding-element);
}

@mixin responsive-spacing($property, $value, $medium-factor: 0.6, $minimum-factor: 0.3) {
  #{$property}: $value;

  @media only screen and (max-width: 576px) {
    #{$property}: $value * $minimum-factor;
  }

  @media only screen and (min-width: 577px) and (max-width: 768px) {
    #{$property}: $value * $medium-factor;
  }

  @media only screen and (min-width: 769px) {
    #{$property}: $value;
  }
}



