@import "../../../shared/stylesheets/mixins/mixins";
@import "../../../shared/stylesheets/mixins/mixins-layout";
@import "../../../shared/stylesheets/mixins/mixins-effects";

@import "../../../shared/stylesheets/tools/typographie";
@import "../../../shared/stylesheets/tools/variables";

@import "../../../shared/stylesheets/elements/controls";
@import "../../../shared/stylesheets/components/quantity_selector";

.toggle-product-view {
   width: 100%;
   justify-self: end;

   &__button {
      &:hover {
         stroke: $color-red-signal;
      }
   }

   &__first-child {
      @include margin-element($right: true);
   }
}
.card {
   @include border($color: $color-green-light);
   @include flexbox($direction: row, $justify: space-between,  $wrap: wrap);
   @include effect-drop-shadow-hover();
   @include padding-component;
   @include gap-component;
   border-radius: $border-radius;
   background: $color-light;

   &>header {
      width: 100%;
   }

   &>figure {
      @include flexbox($justify: center, $wrap: wrap);
      width: 30%;
   }

   &>section {
      @include flexbox($justify: space-between, $wrap: wrap);
      @include gap-element;
      width: 50%;

      & ul {
         @include flexbox($direction: column, $justify: flex-start, $wrap: nowrap);
         @include gap-element;

         &>* {
            @include flexbox($direction: row, $justify: flex-start, $wrap: nowrap);
         }
      }
   }

   &>footer {
      width: 100%;
      @include border($border-property: border-top, $width: $border-width, $style: solid, $color: $color-green-dark);
      @include padding-element($left: false, $right: false, $bottom: false);
      align-self: flex-end;

      &>form {
         width: 100%;
         @include padding-element($right: false, $left: false);
         @include gap-element;
         @include flexbox($direction: row, $justify: space-between, $align: center, $wrap: wrap);



         &>button {
            width: 80%;
         }
      }

      &>h3 {
         text-align: center;
      }

      &>p {
         text-align: center;
      }
   }

   &__img {
      @include responsive-image(true, false);
   }
}

.card-list {
   @include border($color: $color-green-light);
   @include flexbox($direction: row, $justify: space-between,  $wrap: wrap);
   @include effect-drop-shadow-hover();
   @include padding-component;
   @include gap-component;
   border-radius: $border-radius;
   background: $color-light;

   &>header {
      order:1;
      width: 40%;
   }

   &>figure {
      display: none; 
   }

   &>section {
      order:2;
      @include flexbox($justify: space-between, $wrap: wrap);
      @include gap-element; 
      width:20%;

      & ul {
         @include flexbox($direction: column, $justify: flex-start, $wrap: nowrap);
         @include gap-element;

         &>* {
            @include flexbox($direction: row, $justify: flex-start, $wrap: nowrap);
         }
      }
   }

   &>footer {
      order: 3;
      width: 30%;
      @include padding-element($left: false, $right: false, $bottom: false);

      &>form {
         @include padding-element($right: false, $left: false);
         @include gap-element;
         @include flexbox($direction: row, $justify: space-between, $align: center, $wrap: wrap);



         &>button {
            width: 60%;
         }
      }

      &>h3 {
         text-align: center;
      }

      &>p {
         text-align: center;
      }
   }

   &__img {
      @include responsive-image(true, false);

   }
}

@include form__number($width: 15%);