@import "../../../shared/stylesheets/mixins/mixins";
@import "../../../shared/stylesheets/mixins/mixins-layout";
@import "../../../shared/stylesheets/mixins/mixins-effects";

@import "../../../shared/stylesheets/tools/typographie";
@import "../../../shared/stylesheets/tools/variables";

@import "../../../shared/stylesheets/elements/controls";

.filter {
    background: $gradient-green;
    border-bottom-left-radius: $border-radius-max;
    border-top-right-radius: $border-radius-max;
    box-shadow: $border-box-shadow;
    color: $color-light;
    @include border($width: $border-width, $color: $color-light);
    @include flexbox($justify: flex-start, $wrap: wrap, $align: stretch);
    @include gap-component;
    @include padding-component;
    @include hide-for-medium;
    @include hide-for-small;
    &__form{
        @include flexbox;
        @include gap-element;
    }
    &__radio {
        @include flexbox($direction: row, $justify: space-between, $align: stretch, $wrap: nowrap);
        &__label {
            display: flex;
            align-items: center;
            margin-right: 10px;
            cursor: pointer;

            & input {
                margin-right: 5px;
            }
        }
    }
    &__count {
        @include border($color: $color-grey-dark);
        border-radius: $border-radius;
        padding: 0 5px;
        background: $color-green-light;
        color: $color-green-dark;
    }
    & > button{
        @include hide-for-large;
    }
}


.toggle-product-view{
    & > section{
        @include hide-for-large;
    }
}
