@import '../../../../core/stylesheets/layout/layout';
@import '../../../../core/stylesheets/elements/form';
@import '../../../../core/stylesheets/mixins/mixins';
@import '../../../../core/stylesheets/mixins/mixins-layout';
@import '../../../../core/stylesheets/mixins/mixins-effects';
@import '../../stylesheets/produkt';

@import '../../../../core/stylesheets/tools/typographie';
@import '../../../../core/stylesheets/tools/variables';

@import '../../../../core/stylesheets/elements/controls';



::ng-deep .ng-option {
    background: $color-light;
    @include padding-atom;

    width: 100%;
}

::ng-deep .ng-dropdown-panel-items{
    border-radius: $border-radius;
    @include border($color: $color-green-dark);
}
::ng-deep .ng-select-container{
    color: $color-green-dark;
}

.adress__container{
    @include flexbox($direction: row, $justify: center, $align: center, $wrap: wrap);
    @include border($color: $color-green-dark);
    @include gap-component;
    border-radius: $border-radius;
    @include padding-component;

    & th {
        text-align: left;  
    }
}
