@import '../mixins/mixins';
@import '../tools/variables';

//TODO Hover and Focus


.btn {
    @include flexbox($direction: row, $justify: center, $wrap: nowrap, $gab: $margin-elements);
    border-radius: $border-radius;
    padding: $padding-btn-y $padding-btn-x;
    min-width: $width-min-button-desktop;
    min-height: $height-min-btn;
}

.btn-main {
    background: linear-gradient(90deg, $color-green-light 0%, $color-green-dark 35%);
    color: $color-light;
    @include border($color: green);
}

.btn-secondary {
    color: $color-green-dark;
    background-color: transparent;
    @include border($color: $color-green-dark);
}

.btn-tertiary {
    color: $color-green-dark;
    background-color: transparent;
    @include border($color: $color-green-light);
}

.btn-ghost {
    color: $color-green-light;
    @include border($color: $color-green-light);
}

.btn-buy {
    background-color: $gradient-red;
    color: $color-light;
    @include border($color: green);
}