// lazy loading images to make site faster
//<div class="blur-load" style="background-image: url(imgs/img1-small.jpg)">
//<img src="iamge" loading="lazy"/>
//<div>

.blur-load {
    background-size: cover;
    background-position: center;

    &.loaded {
        &::before {
            content: none;
            animation: none;
        }

        &>img {
            opacity: 1;
        }
    }

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        animation: pulse 2.5s infinite;
        background-color: rgba(255, 255, 255, 0.1);
    }

    &>img {
        opacity: 0;
        transition: opacity 200ms ease-in-out;
    }

    @keyframes pulse {
        0% {
            background-color: rbga(255, 255, 255, 0);
        }

        50% {
            background-color: rbga(255, 255, 255, 0.2);
        }

        100% {
            background-color: rbga(255, 255, 255, 0);
        }
    }
}