@import '../../../core/stylesheets/mixins/mixins';
@import '../../../core/stylesheets/mixins/mixins-layout';
@import '../../../core/stylesheets/mixins/mixins-effects';
@import '../../../core/stylesheets/mixins/mixins';
@import '../../../core/stylesheets/mixins/mixins-layout';
@import '../../../core/stylesheets/mixins/mixins-effects';

@import '../../../core/stylesheets/tools/typographie';
@import '../../../core/stylesheets/tools/variables';

@import '../../../core/stylesheets/elements/controls';
@import '../../../core/stylesheets/components/quantity_selector';
@import '../../../core/stylesheets/components/page-titel';

.hero {
    &__img {
        overflow: hidden;
        border-radius: $border-radius;
        @include grid__span__all;
        height: 70vh;
        position: relative;
        @include margin-page($bottom: false, $left: false, $right: false);

        &>img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
        }

        & figcaption {
            position: absolute;
            top: 50%;
            width: 50%;
            right: 5%;
        }
    }
}