@import '../../../core/stylesheets/mixins/mixins';
@import '../../../core/stylesheets/mixins/mixins-layout';
@import '../../../core/stylesheets/mixins/mixins-effects';
@import '../../../core/stylesheets/mixins/mixins';
@import '../../../core/stylesheets/mixins/mixins-layout';
@import '../../../core/stylesheets/mixins/mixins-effects';

@import '../../../core/stylesheets/tools/typographie';
@import '../../../core/stylesheets/tools/variables';

@import '../../../core/stylesheets/elements/controls';
@import '../../../core/stylesheets/components/quantity_selector';
@import '../../../core/stylesheets/components/page-titel';


.weinmenu {
    @include padding-component($left: true, $right: true, $top: false, $bottom: false);
    position: relative;
    @include border($border-property: border-bottom, $color : $color-green-light);
    & h2{
        text-align: center;
    }

    &__text-margin {
        @include margin-element;
    }

    &__button__nav {
        @include grid__span__quarter--mg-lg;
        @include border($border-property: border-bottom, $color : $color-green-light);
        @include flexbox($justify: center, $wrap: nowrap, $align: center);
        @include effect-border-underline($color-bg: $color-red-dark);
        color: $color-green-dark;
    }
    &__img {
        overflow: hidden;
        border-radius: 100%;
        width: 80px;
        height: 80px;
        @include border($width: $border-width-max, $color: $color-light);
        box-shadow: $border-box-shadow;
        & > img{
            height: auto;
            @include responsive-img($width: true, $height: false, $object-fit: contain);
        }
    }
}


