<div class="carousel__container">
  <div>
    <div (click)="goToPrevious()" class="carousel__arrow--right"><i class="bi bi-arrow-left-circle-fill"></i></div>
    <div (click)="goToNext()" class="carousel__arrow--left"><i class="bi bi-arrow-right-circle-fill"></i></div>
  </div>
  <div class="carousel__slide">
    <figure class="carousel__slide__figure">
      <img [src]="getCurrentSlideUrl()" alt="slide image" class="carousel__image">
    </figure>
    <article class="carousel__article">
      <section>
        <p *ngIf="showTitel" class="h3--color-red">{{getCurrentTitel()}}</p>
        <p *ngIf="showText" class="text-regular">{{getCurrentText()}}</p>
      </section>
    </article>
  </div>
  <div class="carousel__dots__container">
    <div *ngFor="let slide of slides; let slideIndex = index" class="carousel__dots" (click)="goToSlide(slideIndex)" [class.carousel__dots--selected]="slideIndex === currentIndex">
      ●
    </div>
  </div>
</div>