<div class="danksagung">
    <h3 class="h3">Vielen Dank für Ihren Einkauf</h3>
    <p class="text-regular danksagung__text">Vielen Dank, dass Sie bei uns Wein bestellt haben. Wir werden Ihre
        Anfrage bearbeiten und die Weine in kürze verschicken. Ihre Paketverfolgug haben wir Ihnen
        per Email zukommen lassen. </p>
</div>
<article *ngIf="eventTeaser" class="produkt-teaser produkt-teaser__grid">  
    <section class="produkt-teaser__section">
        <figure class="produkt-teaser__img">
            <img [src]="eventTeaser.img" [alt]="eventTeaser.alt" />
        </figure>
    </section>
    <section class="produkt-teaser__section">
        <h3 class="h3--light">Unser nächstes Event</h3>
        <p class="text-regular--light">{{eventTeaser.text}}</p>
        <a class="text-link--light" [href]="[eventTeaser.link]">Zum Event</a>
    </section>
</article>