<div class="danksagung">
    <h3 class="h3">Vielen Dank für Ihren Einkauf</h3>
    <p class="text-regular danksagung__text">Vielen Dank, dass Sie bei uns Wein bestellt haben. Wir werden Ihre
        Anfrage bearbeiten und die Weine in kürze verschicken. Ihre Paketverfolgug haben wir Ihnen
        per Email zukommen lassen. </p>
</div>
<article *ngIf="weinTeaser" class="produkt-teaser produkt-teaser__grid">
    <section *ngFor="let teaser of weinTeaser" class="produkt-teaser__section">
        <h3 class="h3">{{teaser.wein?.name}}</h3>
        <figure class="produkt-teaser__img">
            <img [src]="teaser.img" [alt]="teaser.alt" />
        </figure>
        <p class="text-regular produkt-teaser__section__teaser ">{{teaser.text}}</p>
        <a class="text-link" [routerLink]="['/', appRoutes.DETAIL, {kategorie: teaser?.kategorie, id: teaser?.wein?._id}]">Zum Wein</a>
    </section>
</article>