@import '../../../../core/stylesheets/layout/layout';
@import '../../../../core/stylesheets/elements/form';
@import '../../../../core/stylesheets/mixins/mixins';
@import '../../../../core/stylesheets/mixins/mixins-layout';
@import '../../../../core/stylesheets/mixins/mixins-effects';
@import '../../stylesheets/produkt';

@import '../../../../core/stylesheets/tools/typographie';
@import '../../../../core/stylesheets/tools/variables';

@import '../../../../core/stylesheets/elements/controls';

.produkt-teaser{
    background-color: $color-red-dark;
    @include padding-component;
    @include flexbox($direction: column, $justify: space-around, $align: center, $wrap: wrap);
    @include gap-component;
    &__img {
        @include border($color: $color-light);
        width: 35%;
        height: auto;
        border-radius: 50%;
  
        & img {
          @include responsive-img(true, true);
        }
      }
      &__info {
        width: 50%;
      }
}

.danksagung{
    grid-column: span 8;
    text-align: center;
    @include padding-component;
}


 