<div class="danksagung">
    <h3 class="h3">Vielen Dank für Ihren Einkauf</h3>
    <p class="text-regular">Vielen Dank, dass Sie bei uns Wein bestellt haben. Wir werden Ihre 
        Anfrage bearbeiten und die Weine in kürze verschichen. Ihre Paketverfolgug haben wir Ihnen 
        per Email zukommen lassen. </p>
</div>
<article class="produkt-teaser">
    <section class="produkt-teaser__info">
        <h2 class="h2">Empfehlung 
            des Hauses </h2>
            <p class="text-regular">
                Eine erfrischende Wahl für spritzige Genussmomente. Dieser ausgewählte Tropfen verspricht ein prickelndes Geschmackserlebnis. Cheers zu unvergesslichen Augenblicken und einem Glas voller Genuss!
            </p>
    </section>
    <figure class="produkt-teaser__img">
        <img src="../../../../../assets/BackgroundImage.png" alt="Dankeschön" />
    </figure>
</article>