@import "../../../shared/stylesheets/mixins/mixins";
@import "../../../shared/stylesheets/mixins/mixins_abstaende";
@import "../../../shared/stylesheets/mixins/mixins_effects";

@import "../../../shared/stylesheets/tools/typographie";
@import "../../../shared/stylesheets/tools/variables";

@import "../../../shared/stylesheets/elements/controls";
@import '../../../shared/stylesheets/components/quantity_selector';

@import './cart'; 

.hauptmenu {
    background-color: $color-green-light;
    width: 100%;
    height: $height-nav;
    @include margin-page;

    &__content {
        color: $color-green-dark;
        height: $height-nav;
        text-transform: uppercase;
        width: 100%;
        @include flexbox--no-gap($direction: row, $justify: center, $align: stretch, $wrap: wrap);
    }

    &__nav-button {
        flex-grow: 1;
        @include reset-button-styles;
        border-bottom: 1px solid $color-green-light;
        @include flexbox--no-gap($justify: center, $wrap: nowrap, $align: center);
        @include effect-border-underline($color-bg: $color-red-dark);
        color: $color-green-dark;

        &--cart {
            flex-grow: 1;
            @include reset-button-styles;
            border-bottom: 1px solid $color-green-light;
            @include flexbox--no-gap($justify: center, $wrap: nowrap, $align: center);
            color: $color-green-dark;
            @include flexbox--no-gap($direction: row, $justify: center, $wrap: nowrap, $align: center);

            &:hover {
                color: $color-red-dark;
            }

            &__icon {
                color: $color-green-dark;
                font-size: 1.5rem !important;
                color: $color-red-dark;

            }

            &__text {
                color: $color-red-dark;
                text-align: start;
                @include margin-element($left:true);

            }


        }
    }
}