@import "../../../shared/stylesheets/mixins/mixins";
@import "../../../shared/stylesheets/mixins/mixins-layout";
@import "../../../shared/stylesheets/mixins/mixins-effects";

@import "../../../shared/stylesheets/tools/typographie";
@import "../../../shared/stylesheets/tools/variables";

@import "../../../shared/stylesheets/elements/controls";
@import '../../../shared/stylesheets/components/quantity_selector';

@import './cart'; 

.hauptmenu {
    background-color: $color-green-light;
    width: 100%;
    height: $height-nav;
    @include margin-page($top: false, $right: false, $bottom: true, $left: false);

    &__nav__container {
        height: $height-nav;
        width: 100%;
        @include flexbox($direction: row, $justify: center, $align: stretch, $wrap: wrap);
    }
}

