<main class="landingpage__color">
<div class="page page__grid">
    <section class="page__grid__hero">
        <figure class="hero__img">
            <img src="../../../assets/landingpage/landingpage-weingut.jpg" alt="Bild vom Weingut">
            <figcaption>
                <h2 class="h2--light">Unser Online-Shop</h2>
                <p class="text-regular--light"> lorem ipsum lorem imsum lorem ipsum lorem ipsum lorem imsum lorem
                    ipsum
                    lorem ipsum lorem imsum lorem ipsumlorem ipsum lorem imsum lorem ipsum
                </p>
            </figcaption>
        </figure>
    </section>
    <section class="page__grid__weinkategorien weinkategorien__grid">
        <nav class="weinmenu__grid weinmenu">
            <h2 class="h2__container-titel">Unsere Weinkategorien</h2>
            <a *ngFor="let nav of navWein; index as i" class="weinmenu__nav-button"
                [routerLink]="[appRoutes.WEINSHOP, nav.key]">
                <figure class="weinmenu__img-container">
                    <img [src]="weinmenueBilder[i]" class="logo weinmenu__img">
                </figure>
                <span class="weinmenu__text-margin h3">{{ nav.value}}</span>
            </a>
        </nav>
    </section>
    <section class="page__grid__info info__grid">
        <div class="info__bild">
            <figure class="info__img">
                <img src="../../../assets/landingpage/landingpage__rotwein-teaser.png">
            </figure>
        </div>
        <div class="info__text--left">
            <h2 class="h2">Empfehlung des Hauses: Amore</h2>
            <p class="text-regular">Unsere Weine sind ganz angenehm aber aus einer anderen welt aber wir lieben sie
                xoxoxo
                Unsere Weine sind ganz angenehm aber aus einer anderen welt aber wir lieben sie xoxoxo
                Unsere Weine sind ganz angenehm aber aus einer anderen welt aber wir lieben sie xoxoxo
                Unsere Weine sind ganz angenehm aber aus einer anderen welt aber wir lieben sie xoxoxo
                Unsere Weine sind ganz angenehm aber aus einer anderen welt aber wir lieben sie xoxoxo
                Unsere Weine sind ganz angenehm aber aus einer anderen welt aber wir lieben sie xoxoxo
                Unsere Weine sind ganz angenehm aber aus einer anderen welt aber wir lieben sie xoxoxo
                Unsere Weine sind ganz angenehm aber aus einer anderen welt aber wir lieben sie xoxoxo
            </p>
            <a class="text-link">Wein ansehen</a>
        </div>
    </section>
</div>
</main>


<!--<div style="background: linear-gradient(180deg, #E8F3E2 20%, rgba(232, 243, 226, 0.00) 100%);">-->
<!--   <main class="land page page__grid">
        <section class="land__grid">
            <figure class="land__hero__img">
                <img src="../../../assets/landingpage/weingut buhrmannbecher.jpg" alt="Bild vom Weingut">
                <figcaption>
                    <h2 class="h2--light">Willkommen in unserem Online-Shop</h2>
                    <p class="text-regular--light"> lorem ipsum lorem imsum lorem ipsum lorem ipsum lorem imsum lorem
                        ipsum
                        lorem ipsum lorem imsum lorem ipsumlorem ipsum lorem imsum lorem ipsum
                    </p>
                </figcaption>
            </figure>
        </section>
        <section class="page__grid__weinkategorien weinkategorien__grid">
            <h2 class="h2__container-titel">Unsere Weinkategorien</h2>
            <nav class=" weinmenu">
                <a *ngFor="let nav of navWein; index as i" class="weinmenu__nav-button"
                    [routerLink]="[appRoutes.WEINSHOP, nav.key]">
                    <figure class="weinmenu__img-container">
                        <img [src]="weinmenueBilder[i]" class="logo weinmenu__img">
                    </figure>
                    <span class="weinmenu__text-margin h3">{{ nav.value}}</span>
                </a>
            </nav>
        </section>

        <section class="page__grid__weinkategorien weinkategorien__grid">
            <div class="weisswein__text">
                <h2 class="h2">unsere Weißweine</h2>
                <p class="text-regular">Unsere Weine sind ganz angenehm aber aus einer anderen welt aber wir lieben sie
                    xoxoxo
                    Unsere Weine sind ganz angenehm aber aus einer anderen welt aber wir lieben sie xoxoxo
                    Unsere Weine sind ganz angenehm aber aus einer anderen welt aber wir lieben sie xoxoxo
                    Unsere Weine sind ganz angenehm aber aus einer anderen welt aber wir lieben sie xoxoxo
                </p>
            </div>
            <div class="weisswein__picture">
                <figure class="weiswein__img">
                    <img src="../../../assets/landingpage/Group 478.png">
                </figure>
            </div>

        </section>
  <header class="page__grid__header page-titel">
        <figure>
            <img src="../../../assets/logo--weiss.png" alt="Weinweinmenü">
        </figure>
        <h1 class="h1--light">
            Unser Weinshop
        </h1>
    </header>
    <section class="page__grid__carousel carousel">
        <app-hero-element-carousel [showTitel]="true" [showText]="true" [slides]="slides"></app-hero-element-carousel>
    </section>

  </main> 
</div>-->